[2021-01-04 11:50] DanielAmsel-fau commented on #254
For every downsampling step in the encoder-part of the model the input gets downsampled by a factor of 2. In the decoder it gets upsampled by a factor of 2 the same amount of times. Due to the U-net style architecture concatination of inputs of related steps is performed. Therefore your input-sizes are required to be divisable by 2 to the power of n, where n is the number of up/down-sampling steps

[2021-01-04 14:48] adalca commented on #254
Thanks @DanielAmsel-fau

@Kanyq does that answer thre question? I'd like to move this to Discussions from Issues if that's done, then?

[2021-01-04 15:31] Kanyq commented on #254
Yes that works for me. Thank you and you can go ahead and close this.

[2021-01-04 15:33] #254 closed

[2021-01-04 21:42] ahoopes commented on #247
@ixy40 originally, the model files used in the tutorial were just pure weights-only files - they didn't contain any information about model structure. That's why in the tutorial, the model is first constructed with a given input and unet shape before the weights are loaded with `vxm_model.load_weights('model.h5')`.

The `register.py` script will not be able to load a weights-only model file correc

[2021-01-06 07:20] rueberger commented on #228
Same problem here with tf 2.4.0 and the unconditional model provided in the README. I get a similar traceback for the conditional model: `TypeError: __init__() got an unexpected keyword argument 'input_layers'`

[2021-01-08 16:17] lemoshu opened #259 "MI loss for pytorch"
Hi,

Is there a PyTorch version for the NMI loss?

[2021-01-09 02:50] song-cc commented on #2
When I use LPBA40 dataset for training,it show me that "F .\tensorflow/core/util/mkl_util.h:607] Check failed: dims == sizes.size() (5 vs. 4)" . Why it is make this error and how can I solve this problem

[2021-01-13 10:51] ixy40 commented on #247
than you for the reply, i have a follow up question, will i need my data to be 160x192x224 for this model to work, because my dataset is 256x256x256?

[2021-01-13 10:54] ixy40 commented on #247
my output plot is really off when i use the tutorill model file.
![image0ne](https://user-images.githubusercontent.com/56242371/104442894-bb075f80-55bb-11eb-85f9-b12d875b113c.png)

[2021-01-17 18:51] adalca commented on #259
@lemoshu ,
I'm sorry, we don't have one right now. It would probably be easy to translate from tensorflow, especially the new implementation in https://github.com/adalca/neurite/blob/dev/neurite/tf/metrics.py, but unfortunately we haven't had time.

[2021-01-18 22:58] ahoopes commented on #247
If you plan to use your own data on pre-trained models, then you should ensure that your inputs have been preprocessed in the same manner as the images used for training. When we trained the tutorial models, each image in the dataset was affine-aligned to freesurfer talairach space, cropped as described in the repo readme, and scaled between 0 and 1. Has your test data been prepared the same way?

[2021-01-20 22:45] mariakesa opened #264 "Applying flow to coordinates"
Hello:-)

Is it possible to use VoxelMorph to find the new coordinates for keypoints in an image (for example pre-marked landmarks or cell coordinates in calcium imaging experiments) after morphing? AntsPy has this.

If it's not possible, would you be interested in me trying to implement it? With just some tips and hints?

Thank you:-)
Maria

[2021-01-24 22:22] boveiri opened #266 "There are some problems with the Transformation Matrices issued by the Voxelmorph!"
Hi, I have some problems with the Transformation Matrices issued by the Voxelmorph. It will be highly appreciated if someone can guide me since I am almost at the end of a research project.

I used the Voxelmorph for 2D multimodal co-registration i.e. the registration of a patient's CT on his/her own MR image. The big picture of the system is as follows:

![1](https://user-images.githubusercontent

[2021-01-24 23:36] adalca commented on #266
Hi @boveiri

I think the problem is how you're using them. There's a couple of places the problem could be:

- the SpatialTransformer layer takes a displacement affine matrix (i.e. without the identity map), and adds the identity map to it during the transform. So I'd recommend first adding the identity 2x2 matrix to the affine.
- The affine matrix is the one that warps the moving pixels to the fi

[2021-01-24 23:42] adalca commented on #264
Hi @mariakesa

Sorry for the delay.  Yes, it is possible (in fact we use it in the MedIA 2019 paper to warp surface points!
In short, you have to take the inverse of the deformation field, and apply this to the points.

Can you tell us which version of voxelmorph you are using? Once you tell us that, we'll be able to help.

The summary is this: If you run voxelmorph to warp moving image B to fixed

[2021-01-25 11:59] mariakesa commented on #264
Thank you so much:-)

I'm working on larval zebrafish because they're translucent and you can do calcium imaging to record the neural activity patterns in the entire brain.

So I'm making a little app in Vispy to apply morphing to an experimental fish image stack and a 3D fish image stack from an atlas https://engertlab.fas.harvard.edu/Z-Brain/ The GUI allows you to mark corresponding landmarks in

[2021-01-25 19:46] boveiri commented on #266
Dear Adrian, many thanks for your guidance, though I am somewhat confused with adding the identity 2x2 matrix to the transformation one because the transformation matrix is a 2x3 matrix and cannot be added with a 2x2 matrix!

But if I have properly understood, I need to add a [0, 0, 1] row as the third row of the transformation matrix outputted by the Voxelmorph so that I have the following transf

[2021-01-25 21:13] adalca commented on #266
@boveiri I meant add identity to the non-translation part of the affine:

[code]

[2021-01-26 22:06] adalca commented on #264
I see, cool!
did you plan to train voxlemoprh on those images to that atlas yourself? I would encourage you to train a standard voxelmorph model with diffeomorphism. This will enable you to get the warp in both directions, allowing you to warp these landmarks easily.

We can create a simple script to warp some annotations with a given deformation field if you wish, but It might be useful to see so

[2021-01-26 22:08] #266 closed

[2021-01-26 22:12] adalca commented on #248
@madtoinou  sorry for missing this earlier

is it slow without the validation generator?

I'm not sure I fully understand, would you mind providing some code? @ahoopes  did you happen to see any of this?

[2021-01-26 22:13] adalca commented on #240
@luoyi1hao I am closing this, let us know if @ahoopes 's answer didn't work.

[2021-01-26 22:13] #240 closed

[2021-01-28 05:16] prameshgautam opened #267 "Algorithm used to calculate non rigid deformation"
I was going through the paper of Voxelmorph and would like to know the non-rigid transformation used. I would like to know which algorithm is used to calculate the deformation field. I might be missing the details from the paper.

Thank you in advance

[2021-01-28 13:07] adalca commented on #267
@prameshgautam

I'm not sure I understand your question -- VoxelMorph itself is a method to output the deformation field for two images (an unsupervised neural network). Did you have a more specific question about part of the method?

[2021-01-28 16:36] prameshgautam commented on #267
@adalca Thank you for the response. I think I was not clear in my question. I wanted to know the method used for image transformation and looks like Stationary velocity field is used for diffeomorphic transformation. Please correct me if I am wrong.

Also, I have a situation where the inverse transformation needs to be computed. Is this already available in voxelmorph? I am trying to use the PyTor

[2021-01-28 18:22] adalca commented on #267
Voxelmorph is a general purpose framework for learning to output deformations from data. This idea can be used with a varity of transformation types. Our library supposets a few, including standard deformation fields and diffeomorhisms through velocity fields.

If you need inverses, you should definitely use diffeomorphisms. The pytorch implementation includes a `neg_flow` variable that maintains

[2021-01-29 06:00] prameshgautam commented on #267
Thank you :). I have one more question regarding running the training script. The atlas.npz file contains only **vol** and **seg** parameters. **vol** seems to refer to moving image and **seg** to auxiliary information in case of semi-supervised learning. I couldn't figure out how the fixed image is passed during training.

[2021-01-29 12:37] adalca commented on #267
@prameshgautam please see the instructions at https://github.com/voxelmorph/voxelmorph#training . Specifically,

We actually support many more formats, @ahoopes  can comment on that, but essentially having a folder with npz files is the easiest way to start.

[2021-01-30 04:27] ahoopes commented on #267
Right, at the moment npz is just the default format in the example `train.py` scripts, but the internal I/O utils also support npy, nifti, and mgh/mgz files. The loader assumes by default that the npz image data is stored under the 'vol' key, and the example training script just searches for any npz files in the `datadir` path provided on the command line. So, you could always customize your list

[2021-01-30 05:16] ahoopes commented on #248
Yes, if we could see some example code it would help in replicating the problem. So, it seems like every thing works okay until you specify validation data? In which case it runs forever? Are you using a generator-style data loader without specifying the `validation_steps` parameter? The generators that are provided in voxelmorph will in theory run forever if there is no stopping measure

[2021-01-30 16:50] prameshgautam commented on #267
@ahoopes my question was regarding the fixed image rather than the image format. Since **vol** refers to moving image and **seg** refers to information for semi-supervised learning, how is the moving image passed to training?

[2021-01-30 17:34] adalca commented on #267
if you're registering scan to atlas, then our `train.py` sets the atlas as the fixed image and the scans in the `datadir` are treated as the moving images.

If your files are npz files with the volume stored in the `vol` variable, these will be read by the generator and passed to the model as moving images.

I'm not sure I understand your question beyond this?

[2021-01-30 19:52] jingyuan129931 opened #268 "I want to do 3D medical image registration,"
Sir，
I want to do 3D medical image registration, how do I prepare the data set, and is there a tutorial reference?
thank you.

[2021-01-30 20:10] adalca commented on #268
@jingyuan129931
you could start with http://tutorial.voxelmorph.net/, and go from there?

[2021-01-30 20:10] #268 closed

[2021-01-31 17:11] boveiri commented on #266
Dear Adrian, I don't know how to thank you! Your help is highly appreciated.

But it seems there are somethings more than adding 2x2 Identity matrix. For example, here is the warped MR image transformed based on the following Affine transformation matrix by the SpatialTransformer layer:

TFM=np.array([[ 1.0169007e-01,  4.2508245e-02,  1.5823326e+01], [-3.9284952e-02, -8.4735174e-03,  3.4517705e+00

[2021-01-31 17:53] adalca commented on #266
@boveiri

Can you show the *entire* code in a code block? How do you transform the image and the annotations with `@` or with PIL ? Otherwise I'm not quite sure of the details. There's a few issues that have to do with space choices -- for example, the default in voxelmorph is to affine transform about the center of the image (not top-left corner). Other systems might require an affine matrix with

[2021-01-31 21:00] boveiri commented on #266
Thank you for your timely response. Yes, I use TFM for calculating the new locations of annotations in the warped image, while I use TFM_inv  for PIL.Image.transform function since this function use the inverted of the transformation matrix (I am confused as it is the inverse of what you told me!). The source code is as follows:

`points=np.array([[128, 147, 1], [128, 120, 1], [128, 172, 1], [128,

[2021-02-01 06:50] prameshgautam commented on #267
@adalca my use case is of scan to scan registration and I would like to pass two volumes(moving and fixed) to the network. I am able to figure out the moving image for scan to scan registration. My question is how to pass the scan for the fixed image. I can change the code of reading the image to read the moving and fixed image to pass to the network. But I wanted to understand the existing code f

[2021-02-01 13:09] adalca commented on #267
our code defaults to scan-to-scan if you don't supply an atlas. https://github.com/voxelmorph/voxelmorph/blob/master/scripts/tf/train.py#L65

[2021-02-01 14:31] adalca commented on #266
well we subtract the center coordinate from all the points before transforming them, so I imagine (but have not verified) that simply adding (or subtracting?) the center (so roughly `vol_shape / 2` in each dimension) from the translation component of the affine matrix should do the job.

[2021-02-01 16:44] boveiri commented on #266
Thanks for the guidance, but I examined this before and it doesn't work! The below plot is an example:

![07122-new](https://user-images.githubusercontent.com/52887476/106487856-5a878600-64c8-11eb-9f98-e03806815a02.png)

The leftmost subplot is the CT image, the rightmost subplot is the original MRI, and the middle is the warped MRI transformed by the SpatialTransformer layer (network's output).

[2021-02-01 17:35] prameshgautam commented on #267
@adalca got it thank you. I tried running training code with just one image in datadir with **vol** parameter in npz file.
I run the script using command `python scripts/torch/train.py data-dir/`. Same image is passed as fixed and moving image to the model in [https://github.com/voxelmorph/voxelmorph/blob/master/scripts/torch/train.py#L158](https://github.com/voxelmorph/voxelmorph/blob/master/scri

[2021-02-01 17:37] adalca commented on #267
The current setup will randomly grab images from the folder as fixed and moving at each iteration. If you'd like to be more specific than that, I think you need to modify the generators. @ahoopes can verify.

[2021-02-01 18:37] ahoopes commented on #267
Yes, the default generators are configured to pick, at each training step, two random files (representing moving and fixed images) from the training files available in the datadir, so if there's only one file, the model will just be learning to register the same image to itself over and over again. If you want to get specific about what exactly will be used as moving and fixed images at each train

[2021-02-01 19:10] mariakesa commented on #264
Hey, sorry for the late reply. Stuff came up. Let me try to do the training and I will get back to you!

[2021-02-01 19:16] adalca commented on #264
sounds good. let us know how it goes!

[2021-02-02 04:11] prameshgautam commented on #267
got it thank you :)

[2021-02-02 04:34] #267 closed

[2021-02-02 17:37] boveiri commented on #266
![07122-6-New](https://user-images.githubusercontent.com/52887476/106638392-10baa080-6599-11eb-9d14-7bcf01fa69d1.png)

The left subplot is the MRI (warped) transformed by the SptialTransformer layer (network's output), where the red points are annotations firstly subtracted by the half of image's size, then transformed by @, then added with the half of image's size, and finally illustrated.

The r

[2021-02-02 18:20] adalca commented on #266
@boveiri ,

I am a bit confused -- have you tried using solely VoxelMorph functions to warp your images and annotations?

I understand that you want to play with other methods to transform images and annotations, but are you finding that the voxelmorph functions are doing it wrong? (e.g. using `SpatialTransformer` for images, and `vxm.tf.utils.point_spatial_transformer` for points)

[2021-02-03 18:42] boveiri commented on #266
Thank you for your support and nice guidance. Actually, I was not aware of `vxm.tf.utils.point_spatial_transformer` for points, and if it can obviate the problem, we can use it. In the first step, I tried to warp the moving image using `neuron.layers.SpatialTransformer()` but I faced the following error or such ones several times:

Lets my moving image be MR_org with the shape (256, 256), and the

[2021-02-03 20:36] adalca commented on #266
@boveiri
you seem to be using quite old vode, we've moved SpatialTransformer from neurite to voxelmorph a long time ago, and have moved to tf 2.0 quite a bit ago, so I'm not quite sure which version you have. The following works for us:

[code]

and outputs

[code]

[2021-02-03 22:15] boveiri commented on #266
Thank you for your helpful comments in a timely manner, and sorry for my simple questions. Actually, yes, I am using the old versions of neuron and voxelmorph as I was infected with COVID and had severe problems for some months. I finally could issue the problem of using `neuron.layers.SpatialTransformer()` to properly transform the moving image to the warped image in a correct manner. If we can t

[2021-02-04 00:10] adalca commented on #266
sorry to hear about COVID

Here's some code that works for me, but this is using tf2.3:

[code]

[2021-02-04 15:28] boveiri commented on #266
Thanks for your sympathy. If the problem can be solve I will be better! I used the `vxm.utils.point_spatial_transformer()` function to warp the points but its results are same as we use simple matrix multiplication like `TFM @ points` . I don't know it is important or not but since I am using the `neuron.layers.SpatialTransformer()` i.e. the old version, I simply copy/pasted `point_spatial_transfo

[2021-02-05 14:04] adalca commented on #266
@boveiri , I don't think there's any inconsistency between the functions.

I wrote up a quick colab to verify this, and they seem to be consistent to me. Perhaps this can help you figure out where your problem is. https://colab.research.google.com/drive/1V0CutSIfmtgDJg1XIkEnGteJuw0u7qT-?usp=sharing

[2021-02-05 14:04] adalca commented on #264
@mariakesa  in the meanwhile i wrote this quick colab to show how to work with annotations:
https://colab.research.google.com/drive/1V0CutSIfmtgDJg1XIkEnGteJuw0u7qT-?usp=sharing

[2021-02-07 19:44] boveiri commented on #266
I think I could finally find the source of the error, and solve the problem. First of all, the annotations in the previous post are incorrectly illustrated since I should use the `TFM_inv` instead of `TFM` as you correctly mentioned in the previous comments. However, this was not the case as I always tried both `TFM` and its inverse in the experiments.

After converting the affine transformation m

[2021-02-07 20:16] adalca commented on #266
@boveiri  yes, this is an issue of indexing standards. We mention it in the `SpatialTransformer` `indexing` parameter (see documentation) and you can find more info at e.g. https://numpy.org/doc/stable/reference/generated/numpy.meshgrid.html

Basically in numerical work we usually index in matrix notation [row, column, ...], but for images that get plotted (and annotations) e.g. in matplotlib, you

[2021-02-08 00:25] adalca commented on #86
@kangmiao15 It may also be a visualization issue. Can you take a look at the annotation tutorial here: https://colab.research.google.com/drive/1V0CutSIfmtgDJg1XIkEnGteJuw0u7qT-

This should make it clear how to use the voxelmorph tools to warp both images and annotations.

[2021-02-09 19:02] saramsv opened #269 "Registration for colored images"
Hi, thank you so much for sharing your great work!
The tutorial is very useful to understand the process. I am interested in applying your registration techniques to my image dataset and was wondering if it is possible to make the registration work with images with 3 RGB channels. In the tutorial, the digits data are used as 2D images 32*32.
Thank you!

[2021-02-09 21:20] adalca commented on #269
@saramsv, I think you can just use voxelmorph with multiple features, so you can use the 3 channels as 3 features (see `src_feats` parameter to VxmDense).

[2021-02-10 01:59] #269 closed

[2021-02-10 10:17] Stelioschatzichronis opened #270 "Problem running training_unsupervised_seg.py / missing package used in test_unsupervised_seg.py?"
**Task**
Run the script 'training_unsupervised_seg.py'.

In kaggle I get the Error:
![image](https://user-images.githubusercontent.com/52251860/107493688-9391bb80-6b96-11eb-877b-f393fd5686b0.png)

In PC l had the error :
![image](https://user-images.githubusercontent.com/52251860/107494368-5ed23400-6b97-11eb-90ca-6deab7fe5666.png)

I had batch size=1 (Default)
I changed the lines in files "train_u

[2021-02-10 13:35] #264 closed

[2021-02-10 14:58] jayurbain commented on #264
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-7-526b0a7ee379> in <module>()
     14 margin = 10
     15 nb_annotations = 5
---> 16 annotations = [np.random.uniform(margin, f - margin, nb_annotations) for f in x1.shape]
     17 annotations = np.stack(annotations, 1)

NameError: n

[2021-02-10 15:02] adalca commented on #264
@jayurbain

Thanks. Should be fixed now!

[2021-02-11 20:56] StylianosChatzichronis commented on #270
I run it for (96,80,112) and it worked, it has been a memory issue after all. I had to run separate runs for each part of the 3d image
though. If I have done it correctly, later in test_unsupervised_seg with the editing in line 89 and alteration of labels 11->4. I run it and I had the nifti file. I don't know if mapping file should be reduced from 41 to 11 labels though and if yes what I should us

[2021-02-23 13:59] klfxmu commented on #220
How can i use gpu?how to setup my code ?

[2021-02-23 15:28] adalca commented on #220
@klfxmu sorry but you need to provide waay more information here. What have you tried; have you followed the README instructions? Did you look at our [tutorial](http://tutorial.voxelmorph.net)?

[2021-02-23 16:18] klfxmu commented on #220
thanks for your reply：
        I have tried run code with gpu to train my registration model .but wherever I do ,the code just run with cpu. can you tell me how to set my gpu in my linux.

On 02/23/2021 23:28, Adrian Dalca wrote:

@klfxmu sorry but you need to provide waay more information here. What have you tried; have you followed the README instructions? Did you look at our tutorial?

—
You ar

[2021-02-23 18:12] adalca commented on #220
Unfortunately this is likely beyond a voxelmorph issue -- are you running keras or pytorch? Either way I would refer you to those forums unless you have specific issues as a result of voxelmorph functionality?

[2021-02-24 13:31] klfxmu commented on #220
Thanks for your reply:
            this is exactly beyond a voxelmorph issure.
 I have  followed the README instructions.But the code just run with cpu so that I can not reenact your work.Can you send me the true running instruction in terminal.
thanks for your help sincerely!

| |
柯凌志
|
|
klzxmu@163.com
|
签名由网易邮箱大师定制
On 2/24/2021 02:12，Adrian Dalca<notifications@github.com> wrote：

Unfortunately

[2021-02-24 13:37] klfxmu commented on #220
I'm sorry Iforgot to say that I am running Keras .But I have tried pytorch too

[2021-02-24 13:41] adalca commented on #220
@klfxmu the instructions we have in the readme won't determine if your code uses cpu or gpu, that's up to the platform you use (e.g. keras) and the installation you have. For most people with tensorflow-gpu installed, those instructions will run voxelmorph on the gpu.

This probably has to do with your tensorflow/keras installation. So I would recommend reading into this. e.g.:

https://stackoverf

[2021-02-24 13:45] klfxmu commented on #220
You're the most patient writer I've ever met。I'll go over the information you gave me right away
Thank you

On 02/24/2021 21:42, Adrian Dalca wrote:

@klfxmu the instructions we have in the readme won't determine if your code uses cpu or gpu, that's up to the platform you use (e.g. keras) and the installation you have. For most people with tensorflow-gpu installed, those instructions will run voxe

[2021-03-03 06:16] XXZhou25 opened #271 "Pretrained model tf version available?"
Hi,

Thanks for your awesome VoxelMorph work!
I was wondering if there is any pretrained model(tf version) could be provided for us to play with?

Thank you so much!

[2021-03-03 17:56] Vive940219 opened #272 "volexmorph encode features"
@adalca
In the earliest paper of the volexmorph model, the resize factor at the first 16 channels is 1.0
But in the /torch/network: the downsampling of the first 16 channels is already 0.5.
And in the up-arm, the final upsampling result cat with actually the input images, which is different from the paper.
Is this an update of the network structure?

[2021-03-04 03:05] adalca commented on #272
@Vive940219  I'll ping @ahoopes since I know he recently just fixed some stuff in the pytorch version;

But importantly, voxelmorph wasn't really about the specific architecture (number of layers/channels and so on), but the idea of doing unsupervised registration with nets -- the architecture itself in the paper is really what we could fit in memory with the GPUs of those times. The voxelmorph ne

[2021-03-04 14:29] adalca commented on #271
Hi @XXZhou25,

Sure, here is for example a model for T1 data processed as we did in the paper: https://surfer.nmr.mgh.harvard.edu/ftp/data/voxelmorph/models/vxm_dense_brain_T1_3D_mse.h5

We also have SynthMorph models that should work more broadly.

Can you tell us a bit about your data?

[2021-03-04 14:35] XXZhou25 commented on #271
Hi @adalca ,
Thank you so much! It helps a lot.
I am a starter of VoxelMorph, and I want to do a small test on the pretrained model.
I am going to use a pair of lung CT.

[2021-03-04 14:37] adalca commented on #271
Sounds good. Obviously that model is trained on brains so it won't work directly on lung CT, but it might help you get started.
See also the [tutorials](http://tutorial.voxelmorph.net/) if you need to learn how it all works.

[2021-03-04 14:44] XXZhou25 commented on #271
Hi @adalca , thank you so much!! I will check it out!

[2021-03-04 14:44] #271 closed

[2021-03-04 14:46] XXZhou25 commented on #271
@adalca Hi I am so sorry, I 'closed' it by accident.

[2021-03-04 19:24] ahoopes commented on #272
This shouldn't be the case anymore in the dev-branch pytorch implementation. The original network was a bit of a simpler version of the tensorflow version.

[2021-03-04 19:26] #272 closed

[2021-03-05 07:07] Fjr9516 opened #273 "Issues when run train_cond_template.py"
**Task** (what are you trying to do/register?)
Hi! I am trying to train a conditional template vxm model on the MNIST dataset. I only have one attribute, namely, 0-9 classes. But the generated templates look very strange. As I understand, the trained model suppose to generate ten templates(0-9 digital images).

**What have you tried**
First, I set:steps_per_epoch=100, since it is given in the demo

[2021-03-05 09:37] lucasestini95 commented on #31
Hi @adalca , thanks a lot for your work and for making it open source.

Could you please send the MI loss? My email is luca171295@gmail.com

Thanks again.

[2021-03-05 13:08] adalca commented on #31
@lucasestini95 the mutual information has been released for a while now!

We have one implemented in voxelmorph:
https://github.com/voxelmorph/voxelmorph/blob/dev/voxelmorph/tf/losses.py

We also have a newer, cleaner one implemented in neurite which will eventually take over:
https://github.com/adalca/neurite/blob/dev/neurite/tf/losses.py

[2021-03-05 23:48] adalca commented on #273
Hi @Fjr9516,

It seems like you're working with the MNIST dataset, so perhaps the best way to answer your question is with a demo on that. I've added a quick demo at the end of our atlas tutorial at: https://colab.research.google.com/drive/1SkQbrWTQHpQFrG4J2WoBgGZC9yAzUas2?usp=sharing

It should do what you want, and with that maybe help clarify any issues. Can you let me know if this helps?

[2021-03-06 07:18] klfxmu opened #276 "EorroQuestion"
**Task** (what are you trying to do/register?
training model with pytorch

**What have you tried**
just recurrence your work

Please describe specifics of your approach // use of `vxm`
just use gpu to train
loss=mse
data=atlas.npz(i don't know how to set my trainning data one npz?two npz?or more?)

Question:
the code can run normally but the loss=0.
i have examined the input of network and the out

[2021-03-06 12:38] adalca commented on #276
@klfxmu I'm sorry but I can't parse your question. Are you asking why the loss is 0? Can you please show us what command you ran?

Finally, have you gone through the tutorial?

[2021-03-07 12:49] klfxmu commented on #276
Thanks for your reply .
Sorry ,i didn't make my self clear .
My training loss is 0.
I have gone through the tutorial.
The command i run : ./train.py /data3/klz/voxelmorph-master/training --model-dir /data3/klz/voxelmorph-master/scripts/torch/models --gpu 2
Now the result changes:
epoch: 0382  step: 100/100   time: 2.46 sec  loss: -0.356006  (-0.356020, 0.000014)
epoch: 0383  step: 1/100     time:

[2021-03-07 14:28] adalca commented on #276
so to be clear, the loss doesn't seem to be 0?

Also, can you show an example of an image?

As an example, you should be able to use the data in https://github.com/adalca/medical-datasets/blob/master/neurite-oasis.md

[2021-03-07 22:18] Fjr9516 commented on #273
Hi!
It helps! Thank you very much for your help!
I used class labels instead of the one-hot format of labels as the attribute, which caused my bad results.

[2021-03-07 22:18] #273 closed

[2021-03-07 22:45] adalca commented on #273
@Fjr9516 okay, glad it helped!

[2021-03-10 11:20] Kanyq opened #278 "Predicted warping array has only '0's in the numpy array"
Hello,

I trained my model on 3D liver scan with dimension (288, 288, 96) for 50 epochs. Then to test the predictions, I ran the "vxm_model.predict()" on my validation data of list length 2.
Structure of the list passed in predict(): [(1, 288, 288, 96, 1), (1, 288, 288, 96, 1)]

Then as the tutorial suggests I saved the outputs in the following fashion:
moved_pred = val_pred[0].squeeze()
pred_warp

[2021-03-10 12:07] #278 closed

[2021-03-10 14:06] Kanyq commented on #278
Yes I did. Thank you for checking on it though

[2021-03-13 04:05] LeeXW-code opened #279 "Request For Trained Model"
I am a senior student from China,learning about image registration currently.
Short of experienced ability,I wanna use a trained model.
Could u plz share me a trained model?
Thank u,
sincerely

[2021-03-13 15:17] adalca commented on #279
@LeeXW-code we have a varity of trained models. Can you let us know what you're registering?

[2021-03-15 01:08] LeeXW-code commented on #279
I learned about Lung CT image registration（two dimensional）,sir.

[2021-03-15 01:13] adalca commented on #279
do you have a dataset?

We don't have a pre-trained lung model. you could try a [pre-trained brain model](https://surfer.nmr.mgh.harvard.edu/ftp/data/voxelmorph/models/vxm_dense_brain_T1_3D_mse.h5) and fine-tune from that, but I'm not sure it would be that different compared to training from scratch.

[2021-03-15 01:24] LeeXW-code commented on #279
THANK YOU,sir!!! I'll try it now(I can't believe that u can reply to me so fast )

[2021-03-15 01:35] adalca commented on #279
We do our best. I'm going to close the ticket but you can continue the conversation on it after you play with the models.

[2021-03-15 01:35] #279 closed

[2021-03-18 15:07] Fjr9516 opened #282 "How much GPU memory needs to be used to train the conditional template model?"
**Task** (what are you trying to do/register?)
I'm trying to train a model based on your code "train_cond_template.py". I downloaded your dataset from here: https://github.com/adalca/medical-datasets/blob/master/neurite-oasis.md. 314 data were used for training and 100 data were used for testing. However, when I train the model, it always shows the ’Resource exhausted: OOM’ error.

**What have you

[2021-03-19 06:49] Fjr9516 commented on #282
Hi! Thanks for your reply.
I used aligned images, size of 160*192*224. I set batch size as 1 to train the model, I wonder if you set the batch size to 1 when you train your model on 12Gb GPU?
I will try a smaller architecture, thx a lot!

[2021-03-19 12:19] adalca commented on #282
Yup we had a batch size of 1

[2021-03-19 12:19] #282 closed

[2021-03-21 15:02] Fjr9516 commented on #282
Thx！

[2021-03-23 09:59] jiameng1010 commented on #64
I would like to know that as well. What anatomical segments are corresponding to those 41 labels?

[2021-03-23 13:22] #276 closed

[2021-03-24 07:45] StylianosChatzichronis commented on #270
I have adjusted the atlas in order to fit the new reduced size of the input images and it worked. However, there are still two problems;
Are the authors have a trained model mentioned in the publication? If there is not something available, can something be done with the baseline in order to use it in my trained model for evaluation?
Also, I the probabilitic atlas has 40 labels but I cannot distin

[2021-03-24 13:08] mys007 opened #285 "Weird behavior on a toy dataset"
I'm trying to understand the behavior of VoxelMorph (PyTorch version, current master) by overfitting on a 2D toy dataset. The dataset consists of a single image pair with 2 rectangles which overlap to a certain degree (AFAIK VoxelMorph cannot deal with non-overlapping ones because there is no multi-scale loss). The generator is simple:
[code]

I use default parameters but no regularization in a wi

[2021-03-24 13:43] adalca commented on #285
Hi @mys007,

interesting test case -- can you tell me which model you used? I wonder if it's an issue of optimization (with lambda=0, it's easier to just collapse the squares, since this gives you matching 0s, rather than try to match them) or maybe an issue of the model not having enough FoV. I think lambda=0.1 is a more interesting test -- can you show me the loss convergence curve for that one?

[2021-03-24 18:06] adalca commented on #64
@jiameng1010 We have two files at https://surfer.nmr.mgh.harvard.edu/ftp/data/voxelmorph/label_files/, including one to transform from 41 to FS labels, and one for FS labels meaning.

[2021-03-24 18:06] adalca commented on #270
@StylianosChatzichronis  I put these two files at https://surfer.nmr.mgh.harvard.edu/ftp/data/voxelmorph/label_files/, including one to transform from 41 to FS labels, and one for FS labels meaning. Does this help?

[2021-03-24 18:18] jiameng1010 commented on #64
I got the files. Thank you! @adalca

[2021-03-24 18:28] StylianosChatzichronis commented on #270
It definitely helps. Thank you very much.

[2021-03-24 22:22] mys007 commented on #285
Thanks for your quick reply!

I use the default one, i.e. fresh `vxm.networks.VxmDense` with the default hyperparameters.

I'm not sure, wouldn't a black hole collapse of the moving rectangles still incurs non-zero penalty at the places where the rectangles in the fixed image lie (since MSE is used)?

Here it is but for a different progression (turns out the convergence is not reproducible likely

[2021-03-24 23:32] adalca commented on #285
sorry, i meant an easy *local* solution. You're right, globally your solution is better.
But there is a local minima by collapsing the squares.

It may be (I'm hypothesizing) that by turning of the lambda, it finds this local minima faster and easier.
With *some* lambda value it has to work through smoother solutions and perhaps this helps since collapsing a square would require non-uniform transf

[2021-03-25 11:51] mys007 commented on #285
Thanks again for the swift response and trying it out! It's TF on colab but I assume the implementation is identical to PyTorch.

I agree that it's an optimization problem but many components have an effect. One of them is the data loss: with MSE, it looks like it's a matter of the ratio of overlap and non-overlap (or alternatively: it also works when I downweigh the loss term on the black backgro

[2021-03-25 12:11] adalca commented on #285
Indeed, they should be very similar (I worry about claiming "identical" :) )

Yeah, this makes sense.

My intuition is that no regularization means harder to predict in a way, as it seems like you'd be more susceptive to initializations. I suspect the regularization doesn't just help the loss be better behaved, but in some sense the optimization of the field as well.

Well you could take the netwo

[2021-03-25 12:11] #285 closed

[2021-03-29 20:45] junyuchen245 commented on #259
Hi @lemoshu ,

I have translated @adalca 's MI code (https://github.com/adalca/neurite/blob/dev/neurite/tf/metrics.py) into Pytorch:
https://github.com/junyuchen245/ViT-V-Net_for_3D_Image_Registration_Pytorch/blob/b6a9c884ecebb0b0126be7c1aae607050ec54d70/ViT-V-Net/losses.py#L288

I did some quick tests, and the code seems to be working. I hope this helps.

[2021-03-31 06:44] xkdlsxm2 opened #287 "Flow loss (grad_loss_fn) converge to zero"
**Task** (what are you trying to do/register?)

I am registering mono-modal MR liver images with different motion states to have same the motion state.
There are 5 motion states, and I try to register first 4 motion states to the last motion state.
so, my moving image channel is 4, and 1 channel of fixed image.

**What have you tried**

Since my input channel is 4, i have 12 channels of flow.
So,

[2021-03-31 13:31] MoXiaoYing96 opened #288 "How to use segmentation labels when trying to train a new registration model by using train_synth_reg.py?"
Hi, I'am trying to train a new registration model by using **_train_synth_reg.py_**.

As the describe of paper "_**VoxelMorph: A Learning Framework for Deformable Medical Image Registration**_", the loss function includes the _Lsim_, _Lsmooth_ and _Lseg_. _Lseg_ represents the anatomical segmentation information used during training which improves the effect of registration.

I processed the OASIS

[2021-03-31 13:38] adalca commented on #288
The training file you're looking for is `train_semisupervised_seg.py`.

Currently, the dataloader assumes that the volume and segmentation are both stored in the npz file --- so for each subject you have an npz file like `scan1.npz` which has two variables: `vol` and `seg`.

You can modify the dataloader to use the aseg.nii.gz file, which is where your labels are.

I believe @ahoopes was working o

[2021-03-31 14:33] MoXiaoYing96 commented on #288
According your reply, maybe I need to use _train_semisupervised_seg.py_ to train a semi-supervised segmentation model, and then segment OASIS dataset again by using semi-supervised segmentation model, the image processed through this model owns two variables: _vol_ and _seg_, which can be used for _train_synth_reg.py training_, is that right?

I will carefully read the relevant content of _train_s

[2021-03-31 15:42] adalca commented on #288
Hi @MoXiaoYing96

I am a bit confused, I don't think you need `train_synth_reg.py` at all, this is from a different project called SynthMorph (https://arxiv.org/abs/2004.10282), and I don't believe this is what you're interested in

If you're just interested in semi-supervised training like the one in the TMI paper you mention, you should just use `train_semisupervised_seg`. This is not a segmenta

[2021-04-01 00:28] MoXiaoYing96 commented on #288
Your answer solved the problem that has troubled me for a long time. I did misunderstand the usage of train_synth_reg.py. I should use train_semisupervised_seg.py to train the registration network I want. Really appreciate your warm help!

[2021-04-01 02:28] adalca commented on #288
Glad it helped!

[2021-04-01 02:29] #288 closed

[2021-04-01 06:27] lw505 opened #289 "unet = vxm.networks.unet_core(vol_shape, nb_enc_features, nb_dec_features); AttributeError: module 'voxelmorph.tf.networks' has no attribute 'unet_core'"
please tell me how to slove this question thanks.

[2021-04-01 12:25] adalca commented on #289
@lw505  could you please give a bit more context?
We indeed don't have a `unet_core` function anymore, and have no for a long time. What code are you trying to use?

If you got this from the learn2reg tutorial, please see an updated tutorial here: http://tutorial.voxelmorph.net/

[2021-04-02 14:58] daxuemi opened #290 "where can I find the code of hypermorph?"
hello professor! thanks for your project of voxelmorph,its really works.I saw your tweet from twitter. It seems that you have opened up the code of your latest work hypermorph, but I havent found it in this project. Would you please tell me how to get the code of hypermorph? Thank you!

[2021-04-02 15:00] adalca commented on #290
Hi @daxuemi, Thanks for your interest.

HyperMorph code is in the development branch [dev](https://github.com/voxelmorph/voxelmorph/tree/dev/) -- see the training script `train_hypermorph.py` and that should get you started

[2021-04-02 15:00] #290 closed

[2021-04-03 14:40] prameshgautam opened #291 "How to compute the points after deformation"
I have been using Voxelmorph to set up a registration project and have been able to run the training. I need to find the points to which the landmarks are transformed to after deformation. If the landmark is located at position _(x, y, z)_ in image **I** and the image is transformed to image **I'** after deformation, I need to compute the location in **I'** to which _(x, y,z)_ is mapped to. I gues

[2021-04-03 15:46] adalca commented on #291
@prameshgautam

We have a small [tutorial](https://colab.research.google.com/drive/1V0CutSIfmtgDJg1XIkEnGteJuw0u7qT-#scrollTo=h1KXYz-Nauwn) for this -- it's for affine transformations, but the idea should be the same. You're right, you can use the negative flow together with our tool `vxm.utils.point_spatial_transformer`.

Take a look and let me know if it makes sense.

[2021-04-04 01:49] daxuemi commented on #290
Thank you very much for your reply!

[2021-04-04 13:49] adalca commented on #259
@junyuchen245 This is cool -- would you mind also adding this to dev/neurite/torch/metrics.py as an open source PR?

We could do it but it's helpful if the community contributes to the code and this way you'd get the sweet github credit. You should also add your username in the documentation. We may need to modify it upon testing.

[2021-04-04 16:33] junyuchen245 commented on #259
Thanks for offering. I just added it as a PR to dev/neurite/torch/metrics.py.

[2021-04-05 02:49] adalca commented on #259
Great, thank you. We're going to take a look at it, like accept it as is and do some testing!

[2021-04-05 02:55] junyuchen245 commented on #259
Sure thing. I'm glad that I could help.

[2021-04-05 03:18] SangWoonJeong opened #292 "Sizes of tensors must match except in dimension 4."
Hello, i can check atlas data. that using no error.
so i used my CT prostate data.
but proceed error.

my data
512 x 512 x 141 size.
and no change encoder, decoder size.
        encoder: [16, 32, 32, 32]
        decoder: [32, 32, 32, 32, 32, 16, 16]

I think, encoder and decoder size error.

How can i change this point?

**Task** (what are you trying to do/register?)

pytorch / train

y_pred = mod

[2021-04-05 03:46] adalca commented on #292
@SangWoonJeong I think the problem is the same as in https://github.com/voxelmorph/voxelmorph/issues/48
Basically because the current implementation uses a UNet first 4 levels, your data has to be a multiple of 2^5 = 32. I would pad your last dimension by [9, 10]. to make it 160 (=5*32).

[2021-04-05 04:23] daxuemi opened #293 "how to test hypermorph?"
**Task** (what are you trying to do/register?)

professor,sorry to disturb you again. I have tried to run [train_hypermorph.py](https://github.com/voxelmorph/voxelmorph/blob/dev/scripts/tf/train_hypermorph.py) these days. when I test the result,there is only the code of  [test.py](https://github.com/voxelmorph/voxelmorph/blob/dev/scripts/tf/test.py), I don't know whether it is to test hypermorph.

[2021-04-05 06:19] daxuemi commented on #293
my data set are ABIDE and ADNI

[2021-04-05 07:06] SangWoonJeong commented on #292
Oh thanks. i clear this program.
but my data size is so big. (512, 512, 144)
My gpu 11GB X 2(2080TI 2#)
command : Pytorch : out of memory.

Any this problem solution ? (Patch size ???)

[2021-04-05 15:43] adalca commented on #292
You can certainly try braking it up in patches during training. You can probably try to apply it at inference time to the whole volume.

An alternative is to operate at half resolution, and at inference upsample the deformation field.

[2021-04-05 15:45] adalca commented on #293
@daxuemi, thanks for the follow up. We're working with @ahoopes to release a tutorial on hypermorph to help with this.

For now, what would you like to do exactly? Test HyperMorph under different hyperparameters?

indeed, test.py is for standard VoxelMorph scripts, not full HyperMorph.

[2021-04-05 18:42] Fjr9516 opened #294 "Issue when illustrates the integration of the velocity field at different time points"
**Task**
I am currently working on the model of this article: ’Learning Conditional Deformable Templates with Convolutional Networks.’  I trained a model on the MNIST dataset. During the test, I tried to get the integration of the velocity field at different time points. I modified the scaling_and_squaring method to get it.  Core code here：
[code]
Here are the results of pos\_flow: (test only on o

[2021-04-06 00:43] SangWoonJeong commented on #292
Yes, sir.
I used image resize and cut 256 256 64.
Add question,
Using register.py,
predict
moved, wrap = model(input_moving, input_fix, registration = True)
So I can using wrap(DVF) data.
spatial translation using label data.
ex.
moved_label = ?????(input_moving_label, **wrap**)

How can i moved label image, using moved wrap data ??
thanks so much.

[2021-04-06 00:54] adalca commented on #292
you're probably looking for [`model.apply_transform()` ](https://github.com/voxelmorph/voxelmorph/blob/3e37cf9467c32c2969432c2e9fad8509fcfb48c8/voxelmorph/tf/networks.py#L207), although you probably want to use "nearest" interpolation

[2021-04-06 01:53] SangWoonJeong commented on #292
I was using it as pytorch, but I think I need to change it to tf.
Thank you for the quick and kind answer.
I'm sorry, but I'll ask if you have any other problems with tf.
Thank you.

[2021-04-06 04:06] daxuemi commented on #293
thank you for your reply and sorry for not being able to describe my problem clearly.

About two years ago, I processed some data in the ABIDE dataset according to the method introduced by voxelmorph. The data was processed into **.npz** format and the size was cropped to 160*192*224. After training and testing, I got the image The dice score for registration is about 0.73, which is excellent.

No

[2021-04-06 17:21] ahoopes commented on #293
Also, I just want to note that for a hypermorph model registering large 3D volumes, you will need substantially more epochs than the default of 1500. I will also add a more robust LR decay configuration to that script soon.

[2021-04-06 21:46] #287 closed

[2021-04-07 08:51] daxuemi commented on #293
Thank you very much for your reply!  I'm looking forward to your additional code for hypermorph and I will also add some code under your guidance. Thank you again for your excellent work on hypermorph.  All the best wishes for you professor!

[2021-04-07 13:38] #294 closed

[2021-04-09 03:41] #293 closed

[2021-04-09 04:13] pmgautam commented on #291
Thanks @adalca. Will go through the code and let you know.

[2021-04-09 14:28] adalca commented on #291
Great!

[2021-04-09 14:28] #291 closed

[2021-04-09 14:49] adalca commented on #294
Hi @Fjr9516 did you manage to get this to work?

[2021-04-11 11:07] prameshgautam commented on #291
@adalca There are tf dependencies in functions such as `affine_to_shift`(is it only for 2D affine transformation?) and neurite library. As I am experimenting in PyTorch, are there any alternatives that can be used in PyTorch?

[2021-04-11 16:46] pmgautam commented on #291
@adalca I've tried the notebook you shared earlier. The image used is located [here](https://www.dropbox.com/s/xorkr168natwze4/Case1-FLAIR-resize_128.nii?dl=0). While comparing the coordinates before and after transformation they seem to point to a different location. Can you please help me with this? So far I've only tried affine transformation.

[code]
As shown in the image below, these points s

[2021-04-12 01:12] adalca commented on #291
@prameshgautam Just looking at this it seems ok, but I'm sure I'm missing something.

(1) I see that you are visualizing the deformations in a different software -- just note that different software can incorporate the annotation coordinates in different ways. Can you just for evaluation visualize with python tools like in the tutorial? I realize this is 3D but you could try going to the right thi

[2021-04-12 04:16] pmgautam commented on #291
@adalca the issue is with indexing. The visualization tool that I used has XYZ indexing while in NumPy it is ZYX format. By inverting the indices and comparing the images, they point to the same location. Another question I had is about TensorFlow dependency. Is there any alternative in PyTorch that you are aware of which can be used for the same purpose. The main dependency is in `affine_to_shift

[2021-04-12 07:59] Fjr9516 commented on #294
Hi, thanks for your reply.
Yes, I got it to work. It seems that I cannot use pos_flow plotted here to represent the integration of the velocity field.

[2021-04-20 05:00] YMBrianHung opened #296 "How to calculate the Dice using ANTs"
1

[2021-04-20 11:10] adalca commented on #296
Essentially, you want to apply your transforms to the moving segmentation map, and then once you have the moved segmentation map you can compare it with the fixed segmentation map via Dice.

ANTs seems to have renamed their files a few times so I'm not sure what tool warps images now, probably `antsApplyTransforms` ?

[2021-04-20 16:28] YMBrianHung commented on #296
Do you mean that I can use the deformation filed file generated by ANTs to warp the moving segmentation map?

[2021-04-20 23:39] adalca commented on #296
Yes, Affine.mat, InverseWarp.nii.gz, Warp.nii.gz, are all transforms. See https://github.com/ANTsX/ANTs/wiki/Forward-and-inverse-warps-for-warping-images,-pointsets-and-Jacobians, this should be a good introduction to those files.

[2021-04-21 08:30] yangkang24 opened #297 "model.h5"
Hello, I only need to register the image (run register.py), but I did not find the model.h5 file, how to get it？

[2021-04-21 17:53] Kanyq opened #300 "apply_transform function throwing exception"
Hello,

I'm trying to warp my moving segmentation image according to the learned warping using the "apply_transform" function of vxm_model but it is throwing me an exception saying "Offset flow field size expected: 1, found: 3".

transformed_image = vxm_model.apply_transform(src, trg, img, interp_method='nearest')

src: the original moving image (256,256,64)
trg: moved predicted image (256,256,64)

[2021-04-22 08:15] hanlu-zju opened #301 "some questions about the data_loss"
Dear author,
Recently, I have trained my model to register CT lung images using legacy branch.
It works well when the data_loss is ‘mse’， but spatial_transformer_1_loss is strange(**eg.  -25284398.000**) in the case of ‘ncc’.

**Details of experiments**
Data's pixel value ranges from -1000 to 1000
The data is not normalized

**What have I tried**
I have tried to train a model with only one moving

[2021-04-23 01:29] adalca commented on #297
@yangkang24  it might depend on what you are trying to register -- can you let us know what your data is?

[2021-04-23 01:41] adalca commented on #300
the `src`, `trg`, and `img` still have to be in keras size -- so in this case, `[1, 256, 256, 64, 1]`

[2021-04-23 02:35] yangkang24 commented on #297
Hello,
&nbsp; &nbsp; &nbsp; &nbsp;my data are thrmal and visual images,I want to do the fusion of thermal infrared image and corresponding visible image
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;But I can't find the model file I need to run the program.

Regards
YanKang
&nbsp; &nbsp; &nbsp;&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-04-23 05:52] #301 closed, assigned to nobody

[2021-04-23 15:42] adalca commented on #301
@hanlu-zju since you closed this, does this mean you figured it out?

[2021-04-27 00:44] adalca commented on #297
If you want to use an h5 model, it means it should have been trained for your data, and I don't believe we have a model for thermal images. I would recommend you (1) train your own model, or (2) use an instance trainer like the one shown here: https://github.com/voxelmorph/voxelmorph/blob/master/scripts/tf/train_instance.py which doesn't require a trained model.

If you are still keen on using tra

[2021-04-27 00:44] #297 closed, assigned to nobody

[2021-04-28 09:26] Kanyq commented on #300
Hello,
I reshaped my arrays to [1,256,256,64,1] and applied the "apply_transform" function on it but the predicted transformation is all zeroes.
transformed_image = vxm_model.apply_transform(src, trg, img, interp_method='nearest')

src: the original moving image [1,256,256,64,1]
trg: moved predicted image [1,256,256,64,1]
img: segmentation image to be warped [1,256,256,64,1]
transformed_image: [0.

[2021-04-28 12:38] adalca commented on #300
@Kanyq can you please share some screenshots or something like that? Also, how was the model trained?

[2021-04-28 13:18] Kanyq commented on #300
The model was trained on 256,256,64 image resolution which was intensity normalized in the range [0,1].
for convulational layer: kernel_size = 3, padding = "same"

I have modified the **data generator** to suit my project needs: our data is a numpy array of moving and fix images (moving images are on even indexes like 0,2,4.. and their corresponding fix images on odd indexes like 1,3,5.. respectiv

[2021-04-28 13:30] adalca commented on #300
Thanks. A couple of quick question/comments:

- I would recommend just grabbing 2 random images at each iteration, rather than the odd/even scheme you have. It should give you much richer models
- What is `warp_model` exactly in your case? I thought you said you used `apply_transform`?
- Can you try the apply transform route to warp the image as well (not just the segmentation) and see how that co

[2021-04-28 13:40] Kanyq commented on #300
- Okay, but if I grab 2 random images it's possible that I grab two fixed or two moving images also it's possible that I grab a different fixed image and a different moving image. Wouldn't that train the model wrong? Since we want to learn transformation from moving to fixed, shouldn't we pick the images in pair?
- warp_model is: warp_model = vxm.networks.Transform(vol_shape, interp_method='neares

[2021-04-28 13:53] adalca commented on #300
Maybe I'm not sure what your data is, but I'm not sure why you have sectioned them off in 'moving images' and 'fixed images'? Moving and fixed are just terminology used in the model -- but again, maybe it would help to know more about the data.

Ok, got it

`img` would be the image you want to warp. So to warp an image you could do `vxm_model.apply_transform(mov, fix, mov)` and to warp a seg you c

[2021-04-28 14:01] Kanyq commented on #300
![files](https://user-images.githubusercontent.com/14558146/116416089-560a0980-a83a-11eb-9542-f9d45a43dcb5.png)

[2021-04-28 15:05] adalca commented on #300
Right, but is there something special about those images? E.g. are they different scans of the same subject? If they're all just different subjects, I think you should just randomize.

I don't see why it would give you 0s at all really. Can you show me the exact line you used?

[2021-04-28 15:14] Kanyq commented on #300
Here, mov_reshape is moving image reshaped to (1,256,256,64,1) shape. "fix_shape" is fixed image reshaped to (1,256,256,64,1) shape and "segmentation_array_reshaped" is segmentation image reshaped to (1,256,256,64,1) shape.

[2021-04-28 15:19] adalca commented on #300
Weird, that should work.

Can you do `transformed_image = vxm_model.apply_transform(mov_reshape, fix_reshape, mov_reshape, interp_method='linear')` and post what you get?

I suspect you have a bug in the image processing or something like that, but I'm just guessing.

[2021-04-28 15:47] Kanyq commented on #300
I tried doing transformed_image = vxm_model.apply_transform(mov_reshape, fix_reshape, mov_reshape, interp_method='linear') and I got the predicted moved image from the model.
![prediction](https://user-images.githubusercontent.com/14558146/116433408-c2d8d000-a849-11eb-8ae0-47ade39a064c.png)
![apply_transform](https://user-images.githubusercontent.com/14558146/116433466-d2581900-a849-11eb-8e8e-58e9

[2021-04-28 16:51] adalca commented on #300
it looks to me like the warp is a bit bad (under regulaized) here.

To visualize if this is the case, i recommend you get a bwgrid via `pystrum.pynd.ndutils.bw_grid(img.shape, 5)` and warp this with apply_transform.

If these images are from the same subject (each moving and fixed pair), then perhaps the regularization should be stronger. You might also want to look at our recent paper https://arx

[2021-04-28 18:24] Kanyq commented on #300
I obtained the bw_grid for "fixed img" and kept rest of the parameters same and this is the warping I got:
![warping](https://user-images.githubusercontent.com/14558146/116453691-77c9b780-a85f-11eb-9e45-f0459877563e.png)
![seg](https://user-images.githubusercontent.com/14558146/116453836-9c259400-a85f-11eb-95dc-fb0cfae21fa3.png)

This warped image is close to the fixed segmentation, which is what

[2021-04-28 18:36] adalca commented on #300
I meant something *like*

[code]

The idea is to visualize how `grid` is warped. See Fig 6 in https://arxiv.org/pdf/1809.05231.pdf

[2021-04-28 19:10] Kanyq commented on #300
Okay I understand, here is how the warped grid looks like:
![w_grid](https://user-images.githubusercontent.com/14558146/116459496-2c66d780-a866-11eb-81b8-39be698211a1.png)

[2021-04-29 01:17] adalca commented on #300
Right, it seems a bit underregularize (not very smooth), likely because you used the same regularization parameter that we used to register brains from different people. If mov and fix are from the same person, it's likely you'd want stronger regularization.

[2021-04-29 05:10] XXZhou25 opened #302 "Super big l2 norm of dvf gradient"
**Task** (what are you trying to do/register?)

lung CTs

**What have you tried**

Voxelmorph with MSE/NCC as loss and l2 norm of dvf gradient as regularization.

**Details of experiments**
I did data standardization(zscore normalization with mean and std) before training.

MSE + l2 norm of dvf gradient worked fine, as my expectation.
But NCC + l2 norm of dvf gradient didn't work as expected. NCC

[2021-04-29 12:57] adalca commented on #302
@XXZhou25 Thanks for your comment on voxelmorph

Just to be clear, are you saying that the code you used, `gradientLoss` is the one that worked or the one that didn't ?

[2021-04-29 14:30] XXZhou25 commented on #302
Hi, sorry to probably confused you! The `gradientLoss` I used in voxelmorph, which is `voxelmorph.losses.Grad('l2')` didn't work. Actually I am not sure if it is this loss didn't work.
More accurately, the combination: `losses = [vxm.losses.NCC().loss, vxm.losses.Grad('l2').loss]` didn't reduce the dvf loss as expected. I got out-of-image displacements.

Btw, I am also not sure if it is my data's

[2021-04-29 14:31] adalca commented on #302
when using `[NCC, Grad]`, what was the learning rate?

[2021-04-29 14:32] XXZhou25 commented on #302
It is :
`    lambda_param = 0.5
    loss_weights = [1, lambda_param]`

[2021-04-29 14:34] adalca commented on #302
I mean the optimizer learning rate -- or did you use the same one that was there by default?

[2021-04-29 14:37] XXZhou25 commented on #302
Oh I am sorry. Yeah I used Adam, with `lr = 1e-4` .
Last time I got super large dvf, is caused by MSE + non-normalized data.

[2021-04-29 14:44] adalca commented on #302
Hmm, this seems a bit odd, Are you sure the images are properly normalized?

Could you share a couple of screenshots (with a colorbar) for an example pair of images?

[2021-04-29 14:50] XXZhou25 commented on #302
Sure! I also tested locally, I think it is normalized correctly, Since `transformer_loss` is `<1`. Otherwise it will be large.

First several epochs' training loss and validation loss is as below, hope it could provide more info! In epoch 0, I think `gradientLoss` was small in first several steps, but started diverge after that.

[code]

[2021-04-29 15:01] XXZhou25 commented on #302
This pair is before standardize. I standardize them after reading original images.

[2021-04-29 15:13] adalca commented on #302
The images seem to contains some machinery at the edges, interesting. I'm not sure what sort of effect this would have.

I'd recommend visualizing data in python -- the moving, fixed, moved, and the warp field (via warping a grid, maybe) with colorbars. That would help debug what is going on.

[2021-04-29 15:38] XXZhou25 commented on #302
Thank you very much for your help! May I show you 3D dvf? I may need to look into how to visualize with warping a grid.

[2021-04-29 15:45] XXZhou25 commented on #302
Thank you so much for your suggestions! It is quite odd to me, too. It worked fine with MSE or NCC with my own code. I will try to dig more! Thanks for your time!

[2021-04-29 15:56] adalca commented on #302
I would strongly recommend visualizing middle slices them in python after they come from the generator, this would enable you to see what the network actually sees and avoid any bugs.

Have you tried training the NCC model a couple of times? you might've just been unlucky with some bad gradients at the start. Maybe try a slightly smaller learning rate as well.

[2021-04-29 16:00] XXZhou25 commented on #302
I see. These are good points! Yeah probably data source or bad initialization problem. Will look into it! Thank you very much!

[2021-04-29 16:13] Kanyq commented on #300
Okay, so I've re-trained the model and have adjusted the loss weights and set int_steps=4.
For losses, I'm wnet with the implemented loss functions `losses = ['mse', vxm.losses.Grad('l2').loss]`
But I've adjusted the weights from `loss_weights = [1, 0.01]` to `loss_weights = [1, 0.05]` and I'm still not getting satisfactory results with segmentation images. Is there any other regularization that I

[2021-04-29 17:56] adalca commented on #300
If it's still too rough, yes! This is why we wrote hypermorph, btw.

[2021-04-30 16:20] XXZhou25 commented on #302
Hi @adalca , I just looked into everything about data, generator output, my codes...I was desperate and I just decided to run it again...Magically `gradientLoss` got back to normal right now....still not sure if it is bad initialization, since I thought probably bad, but hard not be as large as thousands. But anyways, good news is that it worked properly now! Thank you very much for your suggestio

[2021-04-30 16:22] adalca commented on #302
@XXZhou25 great!

[2021-04-30 16:22] #302 closed, assigned to nobody

[2021-04-30 18:17] XXZhou25 commented on #302
Hi @adalca , sorry I just came back. Actually dvf `gradientloss` started to go over to thousands after several epochs. Then I doubt if I should not use z-score normalization, I mean I normalized the data with its `mean` and `std`. So when I use min-max, `gradientloss` really goes back to normal. I couldn't understand why `local NCC + z-score normalization` will result in dvf loss divergence?

To b

[2021-04-30 18:23] #296 closed, assigned to nobody

[2021-04-30 22:26] XXZhou25 commented on #302
Hi @adalca , I am sorry I just come back again. Since I found after a while `gradientLoss` exploded to NaN. After that I also changed my normalization from Z-score standardization to Min-max, still exploded. I look into generator output, my data, data after normalization, they all looked normal. I am still confused about what caused `NCC + gradientLoss` combination diverged. I totally understand t

[2021-05-01 00:15] adalca commented on #302
@XXZhou25 which branch are you using? We updated the NCC loss in the `dev` branch to limit any NaN issues.

[2021-05-01 15:46] XXZhou25 commented on #302
Ohhh I see. I git clone from the default branch which is `master`.
But I think I am using your `voxelmorph` library which I installed by `pip`. I am not using your scripts for losses. I mean
[code]
Is the NCC in library updated? Thank you very much!
`voxelmorph` version is `0.1`

[2021-05-01 16:56] Armin-Saadat opened #303 "NMI loss function"
Hi,

I have some difficulties using the NMI loss function as it seems a little vague to me what exactly is its parameters.
There are two required parameters, bin_centers, and vol_size.
Could you please explain the desired format of these parameters?
As I read your paper, I understand what bin cinters are used for and I was expecting the param bin_center to be an integer number however it looks lik

[2021-05-01 21:11] XXZhou25 commented on #302
I just modified my losses.py from `master` branch to be consistent with `dev` branch losses. And import this scrip's loss to retrain the same model. I will update later:)

[2021-05-02 00:51] XXZhou25 commented on #302
Hi @adalca , I have run 2 experiments with `dev` branch `NCC loss` in script. I think now NCC works properly, dvf gradients never explode again. I think you probably would want to fix the `NCC` loss issue in `voxelmorph` library. It seems `NCC` isn't updated there.

-----some update
And I also found my `transformer_loss` and `disp_loss` are both not truly reduced. My loss weights are `1, 0.5` whic

[2021-05-02 12:37] adalca commented on #302
Thanks for the update. We will definitely push the new NCC to pypi when we test everything.

What do you mean by 'truly reduced' ?

Also regarding hyperparameters, you might want to look into https://arxiv.org/abs/2101.01035

[2021-05-02 13:46] XXZhou25 commented on #302
Thank you! Now I am using all losses from `dev` branch. `MSE + Grad` seems to work fine, total loss is decreasing. But `NCC + Grad`, total loss is not decreasing. I will look into that paper and also keep parameter searching! Thanks!
![Screen Shot 2021-05-02 at 8 44 34 AM](https://user-images.githubusercontent.com/48270633/116815338-a7f4ad00-ab22-11eb-82c7-9aa54ee95c61.png)

[2021-05-03 14:14] adalca commented on #302
How long have you run this for? In a lot of situations in deep learning, you can be in these wide saddle points where the loss doesn't change for a while, then starts to drop. This can happen because of the loss landscape and will differ with the learning rate, etc. I would recommend trying to run it for a long while and see if this helps. you can also try making the learning rate a bit higher, or

[2021-05-07 11:16] BailiangJ commented on #303
I would recommend you to read Chapter 3 of this paper, Guo, Courtney K. Multi-modal image registration with unsupervised deep learning. MEng. Thesis, I think your questions could be answered there.

[2021-05-07 11:21] BailiangJ opened #304 "ValueError: Fill dimensions must be >= 0 for '{{node ones}} = Fill[T=DT_FLOAT, index_type=DT_INT32](tensor_cropping_idx_0/Const, ones/Const)' with input shapes: [5], [] and with input tensors computed as partial shapes: input[0] = [?,96,288,288,?]."
Hello,
I was using the synmorph code and my input_shape is (96,288,288).

In the voxelmorph.tf.synthseg.label_to_image_model.py line 118,
`patch_shape_tens = KL.Lambda(lambda x: tf.convert_to_tensor([-1] + crop_shape + [-1], dtype='int32'),
                                     name=f'tensor_cropping_idx_{id}')(means_input)`

I got the error
ValueError: Fill dimensions must be >= 0 for '{{node ones

[2021-05-07 12:07] adalca commented on #303
@Rmool and @BailiangJ ,

we actually have a new implementation of the MI loss, in our [dev branch](https://github.com/voxelmorph/voxelmorph/blob/5e817d856860c8929ef3ae57e1b0efe86ec026b4/voxelmorph/tf/losses.py#L316) which should be much simpler to use and cleaner to understand.

[2021-05-07 12:08] adalca commented on #304
@BailiangJ , thanks for your question. I would encourage you to look in the `dev` branch where we've updated the code, but in the meanwhile I'll ping @mu40, the author of synthmorph, who might comment on the master branch implementation that you are using.

[2021-05-07 13:16] mu40 commented on #304
Hi @BailiangJ! Please try the SynthMorph implementation of the `dev` branch as @adalca suggested. The code has undergone substantial changes and now supports the latest TensorFlow version. Using SynthMorph in `master` is not recommended; we just didn't get around to replacing it yet.

[2021-05-08 07:01] BailiangJ commented on #304
Thank you for the information!

[2021-05-08 07:01] #304 closed, assigned to nobody

[2021-05-08 12:00] ghost opened #307 "Creation of Deformable Template"
Hi,
I have some difficulties using train_template.py for unconditional templates. The error is as follows:
TypeError: Cannot convert a symbolic Keras input/output to a numpy array. This error may indicate that you're trying to pass a symbolic value to a NumPy call, which is not supported. Or, you may be trying to pass Keras symbolic inputs/outputs to a TF API that does not register dispatching, pr

[2021-05-08 14:02] adalca commented on #307
@CadyWang thanks for your interest.
Can you tell us what version of `tf` you have, what your data looks like? Did you modify anything in the scripts?

[2021-05-08 14:19] ghost commented on #307
Hi,Thank you very much for your reply!
I have tried tensorflow2.1 and tensorflow2.4. when I use tensorflow2.1,I receive the following error.

creating input atlas by averaging scans
2021-05-08 21:32:22.622490: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcuda.so.1
2021-05-08 21:32:22.640673: I tensorflow/stream_executor/cuda/cuda_gpu_execut

[2021-05-08 14:48] adalca commented on #307
Hi Yi, can you share the generator? It seems like there's a problem with the type of data matching up with the keras inputs.

Could you call `next` on your generator and show us the shape and `dtype` of what comes out?

[2021-05-08 16:48] Fjr9516 opened #309 "Mismatch between pre-trained model (atlas_creation_cond_NCC_1022.h5) and provided script (train_cond_template.py)"
**Task**
I am trying to load your pre-trained h5 format weights (conditional one) using the script train_cond_template.py. But it seems these two models are mismatched.
For example, in train_cond_template.py,   you used this to build the model:
[code]
I just used the default parameters to build the model; the model should have 57 layers.

However, in pre-trained (atlas_creation_cond_NCC_1022.h5) m

[2021-05-09 08:12] ghost commented on #307
I can get a tupe that contains two list when I call next on my generator. I have checked my generator and don't find any problems.My code is sent to you as an attachment.I have been perplexed by this problem for a long time.
Thanks again for your help.
Yi Wang

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-05-09 11:57] adalca commented on #307
@CadyWang I didn't get an attachment.
Please just print out the `shape` and `dtype`  of all your generator data.

Also, are you using the `dev` or `master` branches of voxelmorph?

[2021-05-09 12:45] ghost commented on #307
Sorry, I don't konw why the attachment has not been sent to you. I 'm using the branches of voxelmorph.
&nbsp;I get a tuple that contains two list when I call next on my generator. The fist list contains two numpy arrays that the shape is (1,128,128,128,1) and the dtype is float32. The second list contains four numpy arrays that the dtype all is float32. The shape of the four arrays are (1,128,128

[2021-05-10 15:03] timroelofs123 opened #310 "Issue with KL loss"
So far, I have mainly used the (default) L2 loss as my regularization loss. I wanted to replace this with the KL loss function. However, I am getting the following error:

leak out of the function building context by including a tf.init_scope in your function building code. For example, the following function will fail:
  @tf.function
  def has_init_scope():
    my_constant = tf.constant(1.)
    w

[2021-05-11 21:37] XXZhou25 commented on #302
Hi @adalca , I have a question about your NCC in `dev` implementation.
`cross = IJ_sum - u_J * I_sum - u_I * J_sum + u_I * u_J * win_size`
     why multiply by `win_size` in last term? I mean why it is not `u_I * u_J `?
     According to NCC's denominator `(f - f_mean)(g - g_mean) = fg - f_mean * g - f * g_mean + g_mean * f_mean`.
I believe `u_I, u_J` have been the local mean.
Same question for 2

[2021-05-12 00:33] adalca commented on #302
I'll leave this one to @balakg  :)

[2021-05-12 09:14] timroelofs123 commented on #310
After some experimenting, it seems that the issue is with the eager execution -- adding `tf.compat.v1.disable_eager_execution()` fixed the issue. However, I reckon this is not desirable, and I don't understand why this seems to be necessary...

[2021-05-12 23:26] XXZhou25 commented on #302
Hi, may I ask one probably super basic question?
I think global NCC's range should be `[-1, 1]`, local NCC should be the same, since I think in last step, local NCC would take average of all windows's NCC.
But actually in my experiment, transformer_loss (local NCC, window_size = 9) could reach to `-57.63151`, any number smaller than `-1`.

[2021-05-14 03:55] XXZhou25 commented on #302
Sorry, I was wondering if anyone could clarify a little bit? I'll really appreciate.

[2021-05-14 11:57] adalca commented on #302
@XXZhou25 are you using the new NCC in `dev`? I can't say that we've ever seen the NCC loss be higher than -1 honestly, but perhaps there are some corner cases or a small bug? What images were you using?

[2021-05-14 13:24] XXZhou25 commented on #302
@adalca Yes, I am using new NCC in `dev`. Here is my copy of your code, I didn't modify anything. I used Dirlab and POPI dataset, which are patient lung 3D CT.

[code]

[2021-05-14 13:26] XXZhou25 commented on #302
@adalca For more information, here is one validation result:
`epoch,disp_loss,loss,transformer_loss,val_disp_loss,val_loss,val_transformer_loss
0,0.15083538,-49.949016827661545,-50.024437,0.45199376,-73.46460145264864,-73.6906
1,0.3055039,-22.163731549941005,-22.316484,0.42120677,-0.48982425332069396,-0.7004276
2,2.3713417,-143.19856023862957,-144.38422,0.6123885,-18.74362783059478,-19.049824
3,0.

[2021-05-14 13:34] XXZhou25 commented on #302
For this experiment, I used dirlab + POPI datasets, they are both 3D CTs, and include masks to set background voxels to be 0 and only extract human body part, which means:
`
image = (image - mean ) / std,
humanbodypart = image * mask
`
However, with same dataset and same everything except learning rate, when I decrease initial learning rate , from `1e-4` to `1e-5`, `transformer_loss` got back to n

[2021-05-14 13:36] XXZhou25 commented on #302
Yes I include masks to extract human body parts for each image, in this way, when register 2 images, there will be some 'edges', not sure if they are corners. Will NCC be affected by this? Thank you so much!

[2021-05-16 09:15] JuliusWang-7 opened #311 "2D registration"
hi adalca,
First at all, thank u for sharing your works.
I am learning registration these days, and now I want to put your method into segmentation works.
I copy the codes from https://www.kaggle.com/adalca/learn2reg ,but I don't know how to edit the parameters to deform my segmentation(label). I hope u to give me some advice.

[2021-05-19 23:25] adalca commented on #311
Hello,

I recommend you try http://tutorial.voxelmorph.edu for a nicely updated tutorial on how to use voxelmorph. For what you're asking, you can try:

`model.apply_transform(moving_image, fixed_image, moving_segmentation_image, interp_method='nearest')`, where these images have the usual keras shape for 2d: `[1, H, W, 1]`

[2021-05-20 11:05] boveiri opened #312 "Regarding affine_to_shift() function implemented in the neuron.utiles (Affine Registration)"
Dear Adrian,

Hope you are doing well and healthy.

Actually, I am implementing an affine network based on the voxelmorph. After producing the affine parameters in the shape of (?,6) by the network, I want to use affine_to_shift() function implemented in the neuron.utiles to produce the displacement filed and submit it to the SpatialTransformer() layer. It produces some opportunities for me instea

[2021-05-20 11:52] adalca commented on #312
Hi Hamidreza,

You can use the `tf.map_fn` for this. You can see how we do it [here](https://github.com/adalca/neurite/blob/f0695a1a43f636a130e1b9fb4b22631489eaeab2/neuron/layers.py#L341). Essentially map_fn will run some function on every row of your matrix and re-gather the results!

[2021-05-20 21:09] boveiri commented on #312
Hi Adrian,

Very nice! Thank you for your timely response. Fortunately, the previous problem was resolved, yet there is another error! Nevertheless, I think and hope it will be the last error:

My affine Model has 2 inputs and 2 outputs as following:

[code]

where the affine is in (?,6) produced by the Sequential network. I used the following to convert the affine parameters to its corresponding

[2021-05-21 00:06] adalca commented on #312
are these lines in a layer?
[code]
They need to be in a layers, either a Lambda or a short Keras layer. I think the errors might have something to do with this.

[2021-05-21 22:02] neel-dey opened #313 "Modeling multi-channel NCC-based registration"
Hi Adrian & co.,

For multi-channel registration (eg, RGB image registration or 4D registration of subject A with T1 and T2 <---> subject B with T1 and T2), vxm implements 4D windows for local NCC (e.g., with window size [9, 9, 9, 2] for T1+T2).

I wonder if this may be a problem when dealing with domain shifts (eg, scanner differences) in a heterogeneous dataset. Typically, 3D NCC handles this by

[2021-05-22 20:31] boveiri commented on #312
Thank you for your information, and please forgive me for such simple problems. I packed the code to a Keras Layer sub-class named `affine2_field()`, and it works, but we faced another error this time from the `SpatialTransformer()` class. The below is the error, and I also printed the tensor shapes to help making any conclusions:

[code]

The source of error is in the utilization of SpatialTransf

[2021-05-22 23:31] adalca commented on #312
hmm, I am not sure either. It seems like nb_dims is being set to 1. Depending on the version you have, this is likely taken from loc.shape[-1], so somehow `fieldAff` has shape 1 by the time it gets to interpn.

I would recommend you print the shape of the vol and loc in `interpn`, `transform`, and `_single_trasnform` and see where it breaks?  That would be my first step -- I haven't worked with th

[2021-05-22 23:42] adalca commented on #313
Hi @neel-dey ,

Thanks, these are very good points. The multi-modal NCC was only experimentally added (and we should note this in the code), and we haven't really done thorough testing -- and I think your domain shift (counter)example is a good one. I suspect we could still implement a 'split' NCC without actually splitting the computation.

@brf2 and @ahoopes might be interested in this discussio

[2021-05-23 00:45] adalca commented on #302
Sorry for not responding earlier, but I don't think we've seen this before.

If you just load up two images and evaluate our NCC on those images, is it within 0 and 1?

[2021-05-23 02:10] neel-dey commented on #313
Makes sense, thanks for the response. Implementing channel-wise NCC directly should just need two changes in https://github.com/voxelmorph/voxelmorph/blob/master/voxelmorph/tf/losses.py#L37 at L37 and L51, such that (changes marked with `# CHANGED HERE`):

[code]

I haven't assessed this super carefully or critically, but numerical tests worked fine. If it looks correct, I can send a PR.

[2021-05-23 04:02] JuliusWang-7 commented on #311
thank u very much!
I have solved my problem.

[2021-05-23 04:02] #311 closed, assigned to nobody

[2021-05-23 22:45] adalca commented on #313
Thanks so much @neel-dey  this looks great. Feel free to do a PR and we'll evaluate.

@brf2 I think you were playing with mutli-channel NCC at some point, does this sound ok to you?

[2021-05-23 23:37] neel-dey commented on #313
Great, opened PR #314.

[2021-05-24 01:35] brf2 commented on #313
Sure. I don’t think I have used multi-channel NCC yet, but certainly we will want it!

[2021-05-24 14:57] 1299246210 opened #315 "ValueError when trianing voxelmorph on my own 2 d dataset"
**Task** (what are you trying to do/register?)

Hi, I want to use vxm to train a model to register 2-D photos of high-speed railway Chassis images(gray),Resolution is 20688x1120. my tf is 2.3.0  ,Use the branch: master. Since I'm new to this,I don't know how to slove it. Thanks a lot.

**What have you tried**

I converted the JPG file to NPZ, and use them to train a model .
 Using the command :  p

[2021-05-24 19:52] adalca commented on #315
@1299246210 ,

It seems that when the data is loaded it's loaded in as a 3D volume instead of 2D.
Can you please check the size in the npz file and how it looks like when loaded from the generator?

[2021-05-25 04:36] 1299246210 commented on #315
@adalca ，Thanks ，I will try to examine them.

[2021-05-25 10:05] 1299246210 commented on #315
Hi，the vol size of the npz file is (2,1120,10688),(I only have two images now).my in shape parameter in networks.py is (1120,10688),Is there a mistake here?

[2021-05-25 11:37] adalca commented on #315
if it's 2D, seems to me like each image should be `[1120, 10688]`, no?

[2021-05-25 11:56] Fjr9516 commented on #309
Hi, I am still stuck on this.... If anyone can give me some clue, I would be super grateful.

[2021-05-25 11:57] 1299246210 commented on #315
@adalca ,Yes, The two images that I have right now are at the same resolution ,which is [1120, 10688]. Does VXM have a limit on image size?

[2021-05-25 12:04] adalca commented on #315
No, it does not have an (upper) limit of image size

The problem is you are feeding in volumes that are `(2,1120,10688)`, they need to be ` (1120,10688)`

You can see this from the error:
[code]
The input shape that the model is getting from you is `[?,1,1120,20688,16]`, which means the volume dimensions are `[1,1120,20688]`. This first `1` is extra.

[2021-05-25 12:27] 1299246210 commented on #315
Thank you for your patient answer！，I made the dataset (A npz file,which has one npy file in it, with two images  ,so the vol size is 2x1120x10688) following the instructions of the tutorial, I really don't know how to make it work. Could you tell me how to solve this problem?

[2021-05-25 12:31] adalca commented on #315
Separate the volumes into two volume files: scan1.npz, and scan2.npz (or whatever you think the naming should be), each with a single volume of size `(1120, 10688)`.

When you say that you are following the instructions of the tutorial, can you point us to where you saw this?
We would like to clarify the instructions.

[2021-05-25 12:56] 1299246210 commented on #315
1.So, I separate them into two volume files: 1.npz, and 2.npz.
 And run `python train.py C:\Users\12992\vox1\input --model-dir C:\Users\12992\vox1\output`
Then I get the same error as before:
`ValueError: Negative dimension size caused by subtracting 2 from 1 for '{{node unet_enc_pooling_0/MaxPool3D}} = MaxPool3D[T=DT_FLOAT, data_format="NDHWC", ksize=[1, 2, 2, 2, 1], padding="VALID", strides=[1,

[2021-05-25 13:01] adalca commented on #315
1. What is the size of the volume in 1.npz? It has to be `[1120, 20688]`, I suspect you have it as `[1, 1120, 20688]`?

2. Ah, I see. The x_train there was loaded locally to be played with, it's not fed to a `train.py` file. If you want to use the train.py file you need npz files that have a single volume in them.

[2021-05-25 13:12] 1299246210 commented on #315
1. Yes, you are right! I'm sorry to have bothered you so long . It looks like I'm not converting the file the right way,I'm new to this. Could you tell me how to convert it correctly? Any software or code would be very helpful!
2. Oh, sorry,I misunderstood this. Thanks again for your patient answer!

[2021-05-25 14:13] adalca commented on #315
How are you doing now? It's just a matter of extracting the zeroth entry in the first dimension before you save

[2021-05-25 14:48] 1299246210 commented on #315
Yeah,I successfully completed the correct conversion.

But I ran into another problem when ran `python train.py C:\Users\12992\vox1\input --model-dir C:\Users\12992\vox1\output`.

`Epoch 1/1500
Traceback (most recent call last):
  File "train.py", line 153, in <module>
    verbose=1
  File "/data2/anaconda3/vox/lib/python3.7/site-packages/tensorflow/python/keras/engine/training.py", line 1861, in

[2021-05-25 15:29] boveiri commented on #312
Thank you for the clue given to me.

 I sequentially printed the `nb_dims`, `vol`, and `loc` in the aforementioned functions:

First of all, we have `_single_trasnform()` that is a 1-line function:

[code]

The shapes of `inputs[0]` and `inputs[1]` are `_single_transform: (256, 256, 1) (256, 2) `, respectively. Therefore, I think the shape of transformation that is (?, 256, 256, 2) is manipulated

[2021-05-25 15:42] adalca commented on #312
`inputs[1]` should definitely not be (256, 2),it should be (256, 256, 2) so this is the problem. In my opinion you should track this up the stack and see where the problem is.

For example, before `if self.single_transform:` it would be useful to print the shape of `vol`, `trf`, and value of `self.single_transform`

[2021-05-25 15:52] adalca commented on #315
Unfortunatey these frameworks like tf will by default want to work with float32. I recommend you change the format, e.g. by doing
[code]
before saving

@ahoopes do we do any int-to-float transform in load_vol? should we?

[2021-05-25 16:03] 1299246210 commented on #315
Ok，I will try it later.Thanks again!

[2021-05-25 16:40] #315 closed, assigned to nobody

[2021-05-25 18:03] boveiri commented on #312
Yes, I am confused about that! why this is (256, 2) while the transformation inputted to the `SpatialTransformer` is in the shape of (?, 256, 256, 2) ?

I printed the aforementioned items before the line `if self.single_transform: `and here is the results:

[code]

This version of the Neuron package works OK for my affine network. In the deformable version of the Voxelmorph you add a `Conv2D `laye

[2021-05-25 19:10] adalca commented on #312
I would look at the shape of the inputs right inside the `def call(self, inputs)` function. You might be passing in the wrong inputs or something like that?

[2021-05-27 07:47] boveiri commented on #312
Fortunately, I found the source of the error. The problematic lines of code were the followings:

[code]
Before these lines, the `vol` and `trf` are in their correct shapes i.e. (?, 256, 256, 1) and (?, 256, 256, 2), respectively. But, after the code, the `trf` is reshaped to the incorrect shape of (?, 256, 2)

I deactivated these two lines and the Model went for fitting without any error. Please

[2021-05-27 10:35] adalca commented on #312
hmm, those lines are only necessary for multi-gpu calls in early tf, so you can safely take them out. They shouldn't cause a reshaping issue, and we've never run into this so it's a tad weird. The only thing I could imaging is if tf can't figure out the tensor shape of `fieldAff`, but it's unclear why that would be. Anyway glad you solved it.

[2021-05-27 11:14] 1299246210 opened #316 "Some fundamental questions"
I'm sorry to bother you again, these questions may seem silly!
1. I want to use two GPUs for training，and run `pythontrain.py /mnt/home/lqu/lx/vox1/input  --model-dir /mnt/home/lqu/lx/vox1/output --batch-size 2 --gpu  0,1 `
I got an error`ValueError: invalid literal for int() with base 10: '0,1'`，I confirm that these two GPUs can be used separately. Looks like something went wrong with my commands

[2021-05-27 15:37] adalca commented on #316
1. can you tell us which voxelmorph you're using exactly? is it from pip? master branch? dev branch?
Multi-gpu support like that may only have been added recently, right @ahoopes ?

2. I'm not sure I understand the question. The first loss is the similarity (achieved by applying a transformer to one image and comparing with the second). The second loss is the smoothness loss.

[2021-05-27 16:20] 1299246210 commented on #316
1. I use the master branch and tf=2.4.0 .  I got it through Git. And I installed vxm by pip. Does this branch support multiple GPUs？
2. I see, tkanks!

[2021-05-28 13:14] boveiri commented on #312
Thank you for your follow-up. Your help is so appreciated.

Herewith, I could convert the affine parameters produced by the network to a field so that different regularization terms can be applied. Our first system has no regularization module since we could not apply any to the affine transformation parameters in the shape of (6,). Accordingly, the system produced abnormal transformations while w

[2021-05-29 11:56] adalca commented on #312
spatial gradient regularization on Affine is probably not that meaningful -- it would encourage neighboring voxels to have similar deformations, but of course you get very regular deformations in affine by definition. Regularization would encourage smaller deformations (smaller rotations, etc) but I'm not sure that's meaningful.

Affine registration is a tougher machine learning task than deformab

[2021-05-29 11:56] #312 closed, assigned to nobody

[2021-05-31 13:43] adalca commented on #316
I thought it should support multiple GPUs. Can you post the entire error trace of
`ValueError: invalid literal for int() with base 10: '0,1'` ?

[2021-05-31 13:43] #300 closed, assigned to nobody

[2021-05-31 17:00] ahoopes commented on #316
There might be a multi-GPU bug in the master branch, can you try the dev branch instead?

[2021-06-05 08:46] daxuemi opened #317 "issue with hypermorph"
dear professor,
  Considering that you haven't provided **test_hypermorph.py** yet to calculate dice score, we try to implement this code ourselves under your guidance.([voxelmorph/voxelmorph/issues/293])
   Our implementation as follows:
[code]
however, we got the error as follows:

this line : `warped_seg = transform_model.predict([moving_seg, warp]).squeeze()`

 Model was constructed with shape

[2021-06-05 10:28] aaaaaaaaaaaaaaa9 opened #318 "run the code for the Unsupervised Learning of Probabilistic Diffeomorphic Registration for Images"
**Task** (what are you trying to do/register?)

We want to run the code for the Unsupervised Learning of Probabilistic Diffeomorphic Registration for Images and Surfaces.

**What have you tried**

We changed the bidir to True in voxelmorph\torch\networks.py

**Details of experiments**

We are just beginning to learn.We want to know if there are any other parameters that need to be changed.

[2021-06-05 10:49] #318 closed, assigned to nobody

[2021-06-05 12:13] adalca commented on #317
Hi @daxuemi ,

what is `registration_model` in your code? I believe it is not outputting the right thing.

We're working on a test/tutorial, balancing with upcoming conferences for `hypermorph`

[2021-06-06 13:08] boveiri commented on #312
Thank you for your help. The system is working OK, and the results are sensibly better even with simple regularization terms like l2 norm.

To write the novelty up, please let me know if you have made any theoretical study on the differentiability of such a layer, and how we can prove this affine-to-field layer is differentiable.

[2021-06-06 14:02] adalca commented on #312
The layer is just a multiplication of a [meshgrid](https://numpy.org/doc/stable/reference/generated/numpy.meshgrid.html) of coordinates with the affine matrix. So it's differentiable by construction. It's doing `T(x) = Ax` for all possible `x` values.

[2021-06-06 15:27] XXZhou25 opened #319 "Run into a warning with vxm.layers.SpatialTransformer"
**Task** (what are you trying to do/register?)

3D CT registration

**What have you tried**

using voxelmorph library functions to transform moving image with a deformation field.

**Details of experiments**

Environment:
tensorflow                2.0.0
voxelmorph                0.1

I ran into this warning when I trained my model. I am not sure what it exactly means. Model can be trained, but I a

[2021-06-06 15:52] adalca commented on #319
@XXZhou25 , I don't believe this is an issue that affects the results of voxelmorph, but instead leads to some suboptimal tf usage.

Did you have issues with the resulting deformations looking like identity?

[2021-06-06 16:12] XXZhou25 commented on #319
Hi @adalca , Thank you so much for your quick reply! Actually the deformation didn't look like identity. I upgraded my tensorflow-estimator to match with my tensorflow version, then it is almost solved.
Only one warning left:
`2021-06-06 11:02:42.457526: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library libcudnn.so.7
WARNING:tensorflow:From /home/x

[2021-06-06 16:15] adalca commented on #319
Glad to help!

[2021-06-06 16:15] #319 closed, assigned to nobody

[2021-06-10 03:57] nellie689 opened #320 "The local library neurite does not exist"
The local library neurite does not exit

[2021-06-10 04:17] #320 closed, assigned to nobody

[2021-06-14 03:05] 1164094277 opened #321 "AttributeError : module 'neurite' has no attribute 'modelio'"
when I try to run train.py occur this error.

![QQ图片](https://user-images.githubusercontent.com/62985831/121834079-7154a980-cd00-11eb-81d7-a5e45ac8e7db.jpg)

[2021-06-14 12:37] adalca commented on #321
@1164094277 can you please tell us how you installed voxelmorph and neurite? Did you use pip, or did you get both from github

[2021-06-15 02:23] 1164094277 commented on #321
I first downloaded voxelmorph from GitHub and imported it locally. After importing, I found no packages such as' nibabel 'and 'neurite', so I used ‘pip install voxelmorph' to install the packages mentioned in setup.py

[2021-06-17 22:50] srivathsapv commented on #321
I faced the same issue. It seems the latest version of neurite has not been published to pypi yet. I did

[code]

and then ran

[code]

But installing neurite required a `pystrum` version 0.2 which is not yet published to pypi. So I had to do `git clone https://github.com/adalca/pystrum` and `python setup.py install`. After this the voxelmorph train script worked. @adalca Can you please update the

[2021-06-19 20:04] boveiri opened #324 "About the time and space complexity of MI loss function"
Dear Adrian, Hope you are doing well and healthy.

Actually, I am enthusiast to know about the time and space complexity of MI loss function situated in the loss module of the voxelmorph. Of course, it is one of best loss functions for multi-modal registration, and I know you have implemented a vectorized differentiable version. Please let us know about its time and space complexity to help select

[2021-06-20 00:48] adalca commented on #321
We definitely plan to do it, but as usual there's ups and down in our schedule :) We'll probably do another stable release in July.

[2021-06-20 23:15] adalca commented on #324
@boveiri we have a new MI loss at https://github.com/voxelmorph/voxelmorph/blob/b616bb2cba95ee35f2b60f6d590b969881cca591/voxelmorph/tf/losses.py#L318 whose defaults we've found to work well on quite a few brain tasks.

I'm afraid we won't have time to do a time and space complexity anytime soon as it's a busy time, but the code should be very clean now. The memory is likely something like O(size o

[2021-06-21 09:57] boveiri commented on #324
Thanks for your timely response and for your reference. Sorry for the inconvenience in your busy days.

Actually, I previously extracted something like O(2 * size of the volume * nb_bins^2), as we have 2 volumes to compute the MI, also we need to compute joint distribution that takes nb_bins^2. I am not sure about the joint distribution. Please let me know if I am confused.

Thanks for your endeav

[2021-06-24 16:34] XXZhou25 opened #325 "Solved. Thanks!"

[2021-06-28 09:58] Rcnlover opened #328 "Unable to evaluate the voxel-wise accuracy of deformation"
Hi, I am trying to evaluate the accuracy of VoxelMorph deformation using  3D lung CT image.
First, to register two lung CT images, deformation field was predicted and exported  according to voxelmorph tutorial.(The tutorial says "pred_warp")
Each voxel of the exported deformation field has amount of deformation to x, y, and z directions. I thought the unit of deformation amount was millimeter. But

[2021-06-29 15:31] #325 closed, assigned to nobody

[2021-06-30 05:24] kimtaeuk-AI opened #329 "Pre-trained files are not open."
I'm learning a lot here. by the way
dense-brain-T1-3d-mse-32feat file is not open..
Thank you in advance.

[2021-06-30 21:58] srivathsapv opened #330 "Error while loading vxm_dense_brain_T1_3D_mse.h5"
I am using Keras 2.3.0 and tensorflow 1.14

I initialize the dense model like this
[code]

and then I do

[code]

I get an error as follows

[code]

I further debug and find that the shape of weights of the layer `vxm_dense_unet_dec_final_conv_0` is `(3, 3, 3, 32, 32)` in the h5 file but in the model definition above it is `(3, 3, 3, 48, 32)`.

How can I fix this inconsistency? Thanks

[2021-06-30 21:59] srivathsapv commented on #330
I have a follow up question:

The pretrained weights `vxm_dense_brain_T1_3D_mse.h5` - is this the model weights trained using 3000+ 3D T1W brain MRI images as described in [this paper](https://arxiv.org/pdf/1809.05231.pdf)?

[2021-07-06 02:36] SLKaMiHi opened #331 "Use the original dense CVPR network (no different homeomorphism) for training"
**Task** (what are you trying to do/register?)
I want to use the original dense CVPR network (no different homeomorphism) for training.What parameters need to be changed?

[2021-07-06 11:35] adalca commented on #331
@SLKaMiHi The very original code is in the legacy branch, but we don't support it actively. TO get a model very similar to the original CVPR2018 paper, you can use our default train.py with int-steps set to 0, I believe. @ahoopes can you confirm?

[2021-07-13 20:58] azhangmn opened #332 "Gradient loss dimension issue for 2D images in pytorch"
[code]

When I input an array of shape `[1, 1, 1024, 1024]` as the input image, the output gradient image is shape `[1, 2, 1024, 1024]`, which makes sense to me. However, the loss function references 5 dimensions, instead of 4 dimensions. Is there a workaround to this, or is my input shape incorrect? Thanks!

[2021-07-14 09:53] SLKaMiHi commented on #331
Hi：
I want to train the model of MICCAI 2018. What changes do I need to make. What parameters need to be adjusted?
Thank you.

[2021-07-14 19:39] ahoopes commented on #331
Correct, setting `--int-steps 0` will disable diffeomorphisms

[2021-07-14 19:50] ahoopes commented on #331
You can enable the deformation probabilities with the `--use-probs` flag, but to mimic the loss weights used in the MICCAI paper, you should also set `--legacy-image-sigma 0.02 --lambda 1.0`.

[2021-07-15 12:41] SLKaMiHi commented on #331
I'm really sorry that I didn't express it clearly. I want to use the model training data of MICCAI2018. What kind of modification should be made?

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "voxelmorph/voxelmorph"

[2021-07-20 15:01] SLKaMiHi commented on #331
Hi：
I have a little problem at runtime. Is there an error in the code at the red line.I think it is log_sigma = y_pred[..., 0:ndims].
Thank you！

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "voxelmorph/voxelmorph"

[2021-07-21 10:10] SLKaMiHi opened #334 "Size Error"
**Task** (what are you trying to do/register?)

[please describe task here]

**What have you tried**

Please describe specifics of your approach // use of `vxm`

**Details of experiments**

Please carefully specify details about your experiments. If you are training, when what is the setup? What loss are you using? What does the convergence look like? If you are registering, please show example in

[2021-07-22 04:17] thomshaw92 commented on #316
Hi,  we are having the same error even in the dev branch trying to use 2 GPUs.
using the command
[code]

[2021-07-24 13:42] SLKaMiHi commented on #310
I have the same problem, can you explain in detail how you solved it?

[2021-07-25 15:54] SLKaMiHi commented on #310
I have the same problem, can you explain in detail how you solved it?

[2021-07-25 17:43] timroelofs123 commented on #310
@SLKaMiHi my fix was to disable eager execution (which is default in TF 2) by using the mentioned setting, which enables graph execution (as was the default in TF 1). My code starts like this:

Hope that solves it for you as well! I hope that a better solution could be provided in the future that would still allow for eager execution, however.

[2021-07-27 15:04] SLKaMiHi commented on #310
I'm very happy to have received your response. In the process of running , I also encountered the problem as shown in Figure 1. The picture is 96*112*96. I think it is an error in the red line code in the figure 2. I don't know if you have encountered the same problem. thank you very much.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-07-30 09:01] timroelofs123 commented on #310
@SLKaMiHi I do not see the pictures you are referencing, could you repost them?

[2021-07-30 10:39] SLKaMiHi commented on #310
I'm really sorry, this is my mistake.In the process of running , I also encountered the problem as shown in Figure 1. The picture is 96*112*96. I think it is an error in the red line code in the figure 2. I don't know if you have encountered the same problem. thank you very much.
![(NSG%M`E5M9~Q`3Y$MR7M(O](https://user-images.githubusercontent.com/73085198/127641441-a9c70a43-8186-4698-8d56-c964f80

[2021-07-30 11:52] #334 closed, assigned to nobody

[2021-07-31 00:21] SLKaMiHi opened #335 "problem in KL"
**Task** (what are you trying to do/register?)

[please describe task here]

**What have you tried**

Please describe specifics of your approach // use of `vxm`

**Details of experiments**

Please carefully specify details about your experiments. If you are training, when what is the setup? What loss are you using? What does the convergence look like? If you are registering, please show example in

[2021-07-31 00:22] #335 closed, assigned to nobody

[2021-07-31 02:53] SLKaMiHi opened #336 "problem of KL loss"
**Task** (what are you trying to do/register?)

[please describe task here]
MICCAI 2018
**What have you tried**

Please describe specifics of your approach // use of `vxm`

**Details of experiments**
Hyperparameters are set to lambda=0.01，kl-lambda=10，image-sigma=0.02.I encountered the following problems when running.
![(NSG%M`E5M9~Q`3Y$MR7M(O](https://user-images.githubusercontent.com/73085198/12

[2021-08-02 06:10] #328 closed, assigned to nobody

[2021-08-05 18:16] timroelofs123 commented on #259
Hi @junyuchen245 , I was wondering if you managed to successfully train a model with this loss function? I tried to use it but it doesn't work to me, the loss value doesn't change with the input it seems. Any help would be appreciated!

[2021-08-05 19:17] junyuchen245 commented on #259
Hi @timroelofs123 ,

I had a similar issue, but I double-checked the code, and it matched @adalca 's TensorFlow version.

Anyways, I have been using this simplified version, and it's working well for me. You can give this a try: https://github.com/junyuchen245/ViT-V-Net_for_3D_Image_Registration_Pytorch/blob/5ebef416a7bfefda80b4bd8f58e6850eccebca2e/ViT-V-Net/losses.py#L288.

Let me know how it goe

[2021-08-06 06:29] timroelofs123 commented on #259
That's what I thought too, it seemed to match the TF code and the algorithm as described by Guo (2019), so I'm not sure where the issue lies. However, your simplified implementation appears to work correctly, thanks a lot! I'll let you know if I run into any issues.

By the way, @adalca I was wondering if there are plans to release the code for the local MI metric, for either TF or PyTorch?

[2021-08-06 07:31] idhamari opened #338 "Training scripts call example"
It seems the description is not updated

     ./scripts/tf/train.py /path/to/training/data --model-dir /path/to/models/output --gpu 0

The [script](https://github.com/voxelmorph/voxelmorph/blob/dev/scripts/torch/train.py) requires [img-list](https://github.com/voxelmorph/voxelmorph/blob/229a74781331c289b59efeacc79106278cc63eaa/scripts/torch/train.py#L52)

     parser.add_argument('--img-list', req

[2021-08-06 07:37] SLKaMiHi commented on #310
Did you successfully train this code. I always encounter the problem of Dice not rising during training. Do you have any suggestions. Thanks!

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "voxelmorph/voxelmorph"

[2021-08-06 08:35] timroelofs123 commented on #310
I have trained with Dice loss successfully, but it's a while back so I don't remember the details

Edit: @SLKaMiHi could you please provide a code snippet? The Dice loss seems to work fine for me.
Edit2: @SLKaMihi I tried some training with only Dice again, and indeed it seems that the loss does not change, or even goes up. @adalca have you used the pytorch dice loss successfully before? Do you ha

[2021-08-06 10:53] kimtaeuk-AI commented on #338
Hi, I solved it using txt file. python semisupervise_seg.py --img-list /path/name.txt. You must do text and img-suffix, seg-suffix in the txt file.

[2021-08-06 13:05] idhamari commented on #338
Thanks, can you show part of the txt file as an example.

[2021-08-06 14:01] junyuchen245 commented on #259
@timroelofs123 I'm glad to hear it works. I just uploaded the PyTorch version of the local MI loss (for non-overlapping local patches), which I implemented based on a previous TF version of VoxelMorph.

Here is the loss:
https://github.com/junyuchen245/ViT-V-Net_for_3D_Image_Registration_Pytorch/blob/19559170e915b44e181c83ffe9571533340e9320/ViT-V-Net/losses.py#L345

[2021-08-06 14:23] timroelofs123 commented on #259
Oh awesome, thanks! I'll try it out. @junyuchen245

[2021-08-09 13:41] #336 closed, assigned to nobody

[2021-08-09 13:42] SLKaMiHi opened #339 "problem about"
**Task** (what are you trying to do/register?)

[please describe task here]

**What have you tried**

Please describe specifics of your approach // use of `vxm`

**Details of experiments**

Please carefully specify details about your experiments. If you are training, when what is the setup? What loss are you using? What does the convergence look like? If you are registering, please show example in

[2021-08-09 13:42] #339 closed, assigned to nobody

[2021-08-09 14:10] SLKaMiHi opened #340 "Problem in the training of Unsupervised Learning for Fast Probabilistic Diffeomorphic Registration.Dice drop."
**Task** (what are you trying to do/register?)
MICCAI 2018.scan-to-scan.
[please describe task here]
The size of my data is 96*112*96. Using standard processing, using freesufer affine alignment and normalizing to 0-1.
**What have you tried**
I used a variety of hyperparameter settings during training.mse: (lambda=0.01,lambda_weight=10,image_sigma=0.02).NCC(lambda=1,lambda_weight=25,image_sigma=0.

[2021-08-09 20:02] ahoopes commented on #331
Can you provide a bit more information about the error you're getting? And I'm not totally sure about the MICCAI2018 training data availability - @adalca will have to answer that one

[2021-08-10 01:34] ahoopes commented on #316
Okay, multi-gpu support with tensorflow 2 should be working as expected now (fix: ce78f4d)

[2021-08-10 02:15] SLKaMiHi commented on #331
Hi:

MICCAI 2018.scan-to-scan.
The size of my data is 96*112*96. Using standard processing, using freesufer affine alignment and normalizing to 0-1.
I used a variety of hyperparameter settings during training.mse: (lambda=0.01,lambda_weight=10,image_sigma=0.02).NCC(lambda=1,lambda_weight=25,image_sigma=0.02) and so on.use_prob=True.int_step=7.

I am using the latest version of the code downloaded

[2021-08-10 02:16] SLKaMiHi commented on #331
MICCAI 2018.scan-to-scan.
The size of my data is 96*112*96. Using standard processing, using freesufer affine alignment and normalizing to 0-1.
I used a variety of hyperparameter settings during training.mse: (lambda=0.01,lambda_weight=10,image_sigma=0.02).NCC(lambda=1,lambda_weight=25,image_sigma=0.02) and so on.use_prob=True.int_step=7.

I am using the latest version of the code downloaded from

[2021-08-10 02:17] SLKaMiHi commented on #331
MICCAI 2018.scan-to-scan.
The size of my data is 96*112*96. Using standard processing, using freesufer affine alignment and normalizing to 0-1.
I used a variety of hyperparameter settings during training.mse: (lambda=0.01,lambda_weight=10,image_sigma=0.02).NCC(lambda=1,lambda_weight=25,image_sigma=0.02) and so on.use_prob=True.int_step=7.

I am using the latest version of the code downloaded from

[2021-08-17 07:10] ElegantLin opened #341 "Difference between scan_to_scan and scan_to_atlas"
Dear author, thanks for your great work. I am using the `dev` and `master` branches. I want to know the difference between scan_to_scan and scan_to_atlas. I saw some of the users used the `scan_to_atlas` in the scene where there are moving images (scan) and fixed images (atlas). Did they use the function correctly? If they use the function in the right way, could you please tell me or give me an e

[2021-08-17 12:54] adalca commented on #341
`scan_to_scan` refers to registering two scans together, so the generator will grab two random scans and feed them to the model. I'm not quite sure what you mean by example for this -- e.g. when someone might want to use this?

`scan_to_atlas` will randomly sample one scan, while the other image will always be the atlas.

So yes, the use you are referring to seems correct.

[2021-08-17 12:55] #341 closed, assigned to nobody

[2021-08-17 16:33] ElegantLin commented on #341
Dear Adrian, thanks for your quick and clear reply. I have two questions and hope you can help me.

1. Since making moving images to the fixed ones is `scan_to_atlas`, why is the atlas only one volume? For example, there are 30 subjects in my datasets and every subject has a pair of moving and fixed. I think the `scan_to_atlas` does not fit the scene.

2. For the example, I mean that since fixed-m

[2021-08-17 16:43] adalca commented on #341
*moving* and *fixed* are just terminologies we use in the model, in some sense it's a separate concept from the generators. It's just saying that the model *moves* one image to "match" the other.

The generators are python constructs that feed a pair of images to the models, which are then treated as *moving* and *fixed*. How the generators come up with the two images is up to the generators. We h

[2021-08-17 17:11] ElegantLin commented on #341
Sure! Thanks for your patience and your guide. I also think I should implement it myself, making it randomly select `batch_size` subjects and making the `input_vol` and `output_vol` correct.

Thanks for your help again!

[2021-08-18 21:32] ahoopes commented on #341
Right! You'll have to implement your own generator if each subject has two images. But that should be relatively straightforward if you follow `vxm.generators.scan_to_scan` as a template

[2021-08-27 11:21] ElegantLin opened #342 "Is there a semi-supervised in torch?"
Do we have a semi-supervised version in torch? I only see the unsupervised one.

Thanks!

[2021-08-30 05:29] s8908271 opened #343 "Voxelmorph with noisy image and noise-free image"
I have some problem as my topic, i try to use voxelmorph to register noisy image and noise-free image, it usually gets some wired registration, the intensity changes a lots.
fixed image:
https://i.imgur.com/2uFb3Ef.png
moving image:
https://i.imgur.com/AdyQdPh.png
moved image:
https://i.imgur.com/1Alf5pk.jpg

the parameter I used:

vol_shape = (256,256,96)
nb_features = [
    [16, 32, 32, 32],

[2021-08-30 17:02] adalca commented on #343
@s8908271 what is `dice_coef_loss` in your code? I would expect that you could use something like NCC and it might do ok.

[2021-09-01 16:15] mangotee commented on #321
I had the same problem, my error was thrown in `train_template.py` because the method `vxm.py.util.read_file_list()` could not be found (the pip installed version does not have this function yet). I actually had to manually install pystrum, neurite and voxelmorph as well. In your project folder, clone the three repos:

    $ git clone https://github.com/adalca/pystrum
    $ git clone https://githu

[2021-09-13 08:40] ElegantLin commented on #229
Hi, @Taariq78, do you solve the problem? I also met the same problem. Any help is appreciated.

Thanks!

[2021-09-16 14:03] bensarthou opened #347 "Model output error when using train_synthmorph.py"
Hi,

**Task: Train SynthMorph model on a set of label using train_synthmorph.py**

I want to train the SynthMorph model on a set of generated labels, using the example script provided in scripts/tf.

**What have you tried**

I'm using the dev branch, uptodate at 16/09/2021 (d7d13fa756fd6fbe22b1f60a13b65df37b952784), with tensorflow/keras 2.6.0
Voxelmorph was installed via setup.py, as well as neur

[2021-09-17 13:33] mu40 commented on #347
I'm unable to reproduce the issue with d7d13fa756fd6fbe22b1f60a13b65df37b952784 and TensorFlow 2.6.0 from pip. How did you adapt the training script to read .npz files? The script in the dev branch only knows about .npy and .pickle. As a quick test, you could try `--out-labels ""`, which will optimize the overlap of all labels present in your training data.

[2021-09-20 07:41] bensarthou commented on #347
Hi,
Thank you for your quick answer.
I did not modify any of the script as far as I know, I've re-installed everything, tried again and obtain the same issue this weekend.
[code]
As for the --out-labels, I've tried the "" option, which has given the same result
Indeed, I was using a .npz file, but it seems to me that the code just switch to the "" option (else l120 in train_syntmorph.py file) in t

[2021-09-20 11:17] bensarthou commented on #347
Hi again,

I've seen that you pushed a new commit this weekend (3d004df) that solved the issue with the training script
Everything works correctly for me now, train_synthmorph.py and test.py,
Thank you a lot for your help !

[2021-09-20 12:13] mu40 commented on #347
You are right about the `--out-labels` option. I'm glad it works now!

________________________________________
From: bensarthou ***@***.***>
Sent: Monday, September 20, 2021 07:17
To: voxelmorph/voxelmorph
Cc: Hoffmann, Malte; Comment
Subject: Re: [voxelmorph/voxelmorph] Model output error when using train_synthmorph.py  (#347)

        External Email - Use Caution

Hi again,

I've seen that you

[2021-09-20 12:19] mu40 commented on #347
You are right about the `--out-labels` option. I'm glad it works now!

[2021-09-20 12:25] bensarthou commented on #347
Hi,

Sorry for the previous message, I was celebrating a bit early it seems :/
As I was saying, your commit from this weekend (3d004df) solved the issue with the train.py script ! It was an issue with tensorflow v1 compatibility ?

But I've tested now test.py with a model generated by the train.py (early iteration but I wanted to be sure it worked) and it failed with the aforementioned error:

[co

[2021-09-20 14:13] mu40 commented on #347
This is a separate issue, that we fixed a while ago for `register.py` by overriding the saved input model with `input_model=None` (but overlooked in `test.py`). PR #353 should resolve this now.

[2021-09-20 17:24] adalca commented on #347
Thanks @mu40 !

[2021-09-20 17:24] #347 closed, assigned to nobody

[2021-09-21 12:40] ElegantLin commented on #169
Dear authors,

I also have some problem with semi-supervised training. I did not find the test program about semi-supervised and I create a new program based on the unsupervised test file. I change the model from `VxmDense` to `VxmDenseSemiSupervisedSeg` and load the checkpoint file from `train_semisupervised_seg.py`. The result I got is very strange and I wonder whether my steps are correct.

Tha

[2021-09-21 13:55] adalca commented on #169
@ElegantLin can you provide more information? What is the result, etc. Overall the idea seems right, but there are a lot of details to get right, of course.

[2021-09-21 14:12] ElegantLin commented on #169
Thanks for your quick reply.

The code I used is

[code]

The same testing data I used from `test.py` using unsupervised and the result is

[code]

However, when I used a weight from semi-supervised and tested it with the code above and the same data, the result is

[code]

The semi-supervised training loss goes normally so I suspect there is something wrong with the testing code.

Could you pleas

[2021-09-24 02:09] TimZhang001 opened #354 "question about backbone and loss"
First of all, is it considered to replace the backbone with UNET + + or others ?

Secondly, for the registration of two-dimensional graphics, I make the following changes to loss. I think maybe this is more reasonable?

![企业微信截图_16324493676287](https://user-images.githubusercontent.com/7878012/134607696-f50b604b-61a1-4e96-9a17-8833cf6cebfa.png)

[2021-10-03 13:33] tphankr opened #355 "train.py: error: the following arguments are required: --img-list"
Thank you for your code.
Your code is excellent but difficult for me use. In short, I do not know how to use the voxelmorph code yet, although I tried to many run times (> 4 times) . Please help me some questions.
1) I tried to do Training step:
./scripts/tf/train.py /path/to/training/data --model-dir /path/to/models/output --gpu 0
And, I typed like this but had the error --img-list. How do I fill

[2021-10-07 21:37] srivathsapv opened #356 "Error when trying to use Mutual Information loss function"
I am trying to train a 3D affine registration network based on Voxelmorph idea and I'm trying to use mutual information as the loss function. I am getting the following error when trying to use the function provided in the `losses.py` file.

[code]
I tried using `-self.channelwise` instead of `-self.volumes` in the `vxm.tf.losses.MutualInformation` class, but still getting the same error. @adalca

[2021-10-07 22:55] adalca commented on #356
interesting, could you tell us what tf version you are using? Also, can you comment out the tf assert in metrics.py and see if that makes this go away?

[2021-10-08 17:19] srivathsapv commented on #356
Tensorflow version 1.14.0 and Keras version 2.3.0
Commenting out the assert statements [here](https://github.com/adalca/neurite/blob/dev/neurite/tf/metrics.py#L138) and [here](https://github.com/adalca/neurite/blob/dev/neurite/tf/metrics.py#L203) in the `neurite.metrics.MutualInformation` does make the error go away. But I was wondering if there is a cleaner way to do this. Thanks

[2021-10-08 17:20] adalca commented on #356
Unfortunately we haven't used tensorflow 1.14 in a long time. Any chance you could try this with an environment with tf 2.4+ ?

[2021-10-08 17:21] srivathsapv commented on #356
Sure will give it a try.

[2021-10-08 17:21] #356 closed, assigned to nobody

[2021-10-08 17:23] srivathsapv opened #357 "Weighted combination of loss functions"
I was wondering if you guys got a chance to try a combination of different loss functions (MSE, NCC and NMI)? Is there advantages or disadvantages of doing this based on your experiments so far?

@adalca would appreciate your insights into this. Thanks

[2021-10-08 17:30] adalca commented on #357
I don't believe we have for registration, could be a simple interesting comparison! I would suspect that NCC will just do most of the work, though.

[2021-10-18 23:32] Hoda1394 opened #359 "VoxelMorph pretrained weights are not available"
I am trying to download the VoxelMorph pre-trained weights (vxm_T1_3D_mse.h5) through the link that is provided in the data folder, but no file is downloaded. seems the file is not available.
how I can access the VoxelMorph pre-trained model?

[2021-10-19 00:46] adalca commented on #359
Hmm, can you try again? I think the link was http instead of https, which sometimes acts weirdly.

[2021-10-19 02:49] Hoda1394 commented on #359
it works now.
Thanks

[2021-10-19 11:07] #359 closed, assigned to nobody

[2021-10-22 01:16] GH3927 opened #362 "When will the pytorch version of hypermorph be available?"
Thank you for your hard work.

[2021-10-29 15:14] simone-garzia opened #364 "Can not run setup.py"
Hi.
I am trying to use the repository but when I run "setup.py install" I always get error on the installed version of pyparsing saying that I have to install the 2.0.2 version. I install it but it still gives me the same error. How can I solve it?

[2021-10-29 15:18] ixy40 opened #365 "CANT REGISTER WITH THE MODEL .H5 FILES GIVEN"
Hi I need to simply get the registration and save the warped image

it says --save-warp command doesnt exist  and i have attached the error for registration.
please let me know what changes I should be making
<img width="849" alt="Screenshot 2021-10-29 at 11 16 36 AM" src="https://user-images.githubusercontent.com/56242371/139460358-05d20fdf-dec5-4dfd-8e3e-b54dd4de7a6f.png">

[2021-11-01 02:41] SangWoonJeong opened #366 "tensorflow.python.framework.errors_impl.InvalidArgumentError"
**Task** (what are you trying to do/register?)

script/tr/train
i can using two 3d image(256x256x64).
sample shape : (1, 256, 256, 64, 1)
inshape : (256, 256, 64)

i can read the image;
    atlas = vxm.py.utils.load_volfile("prostate_data/case_0025_main/nii_file/case_00002.nii", np_var='vol',
                                      add_batch_axis=True, add_feat_axis=add_feat_axis)
    generator = vx

[2021-11-01 11:41] Alison-brie opened #367 "Dice loss function of Torch version"
Hi,
I have some difficulties using the Dice loss function as it seems a little vague to me what exactly is its parameters.
There are two required parameters,  y_true and y_pred.
Could you please explain the desired format of these parameters?
Like what shape should be? Like (batch_size, 1, H, M, N)?
I also don't know whether the segmentation masks( y_true and y_pred) should be converted to the one

[2021-11-01 13:29] giladmaya opened #368 "Torch training cannot run on cpu"
NCC loss torch implementation has "cuda" hardcoded into it, thus preventing the training from running on cpu when GPU is not available.

Can you please fix it?
https://github.com/voxelmorph/voxelmorph/blob/18ace2d48c23dfc06625d038972de764044a734f/voxelmorph/torch/losses.py#L29

Thank you

[2021-11-02 10:48] Alison-brie commented on #367
Another question is that when computing dice loss, we should apply the SpatialTransformer of 'nearest' mode to warp the segmentation masks using flow fields, which seems to not support backpropagation (more specifically, nearest-neighbor interpolation operation). So how to handle it? Any suggestion?

Thanks for the help in advance.

[2021-11-02 19:28] tenres opened #369 "Attributes for conditional templates"
**Task** (what are you trying to do/register?)
Train a model for building conditional templates on our data.

Firstly, I want to thank you for making this code available. I am looking to build a conditional template using train_cond_template.py. I am a little unclear on how to specify data attributes such as gender, disease state. For e.g., in function load_pheno_csv(), it says "each attr is a flo

[2021-11-02 19:54] adalca commented on #369
hi @tenres , after loading, I think we one-hotted any categorical attributes. @ahoopes  can you comment on whether the scripts support this right now or @tenres  should add something?

[2021-11-02 20:08] adalca commented on #366
@SangWoonJeong could you let us know what tf/keras verison you are running? Are you able to run the tutorial with your data maybe?

[2021-11-03 06:10] SangWoonJeong commented on #366
tf/keras versrion is 2.6.
I have confirmed that the tutorial works in my pycharm environment.
But my data is 3d so I didn't check it by putting it in the tutorial.

[2021-11-03 08:46] WwwwJX commented on #355
Excuse me, I meet the same question, so how do you solve it??

[2021-11-03 08:49] WwwwJX commented on #355
Excuse me, I meet the same question, so how do you solve it??

[2021-11-03 08:53] WwwwJX commented on #316
excuse me, can you tell me what in your input file???

[2021-11-03 08:57] WwwwJX commented on #338
excuse me, can you show me your txt files???

[2021-11-03 12:15] Alison-brie commented on #367
Referring to solved Issues, I guess that maybe with one-not encoding, could we use a linear interpolation when warping?

[2021-11-04 01:21] adalca commented on #366
The tutorial has a 3D subsection, so it would be great to see if it works there.

I'm asking this because the new tensorflow versions (2.5, 2.6) have thrown some new errors we've had to deal with, so I'm wondering if it has to do with that or something else. I don't recognize the error unfortunately.

[2021-11-04 01:28] adalca commented on #355
Our apologies I think we changed the default way to feed in data recently.
the IMG_LIST should be a text file, where each line is a file in your dataset.

For example, you can download the brain data from
https://github.com/adalca/medical-datasets/blob/master/neurite-oasis.md
then your IMG_LIST can be a list of the files you want to train with from that dataset, like:

[code]

@ahoopes is this rig

[2021-11-04 15:34] ahoopes commented on #355
Yes, this is correct. Sorry for the confusion. I've updated the README with new instructions.

Basically, you'll need some file that lists the unique image filenames in your training dataset. This doesn't necessarily have to include the full paths though, as you can use the `--img-prefix` and `--img-suffix` flags to add information. For example, in the OASIS dataset that Adrian linked, you can use

[2021-11-04 15:44] tenres commented on #369
Thanks for your reply @adalca. @ahoopes, any clarification on this will be helpful. Thank you!

[2021-11-05 01:01] adalca commented on #367
@Alison-brie I haven't used the pytorch code as much, but I think that indeed we are looking for the one-hot (potentially linearly warped) deformations, and the is Soft Dice being computed. So it seems like you had all the answers already :D

[2021-11-05 01:04] adalca commented on #338
Our apologies for the late reply, for those of you still having issues, please take a look at #355

[2021-11-05 01:04] #338 closed, assigned to nobody

[2021-11-05 03:05] Alison-brie commented on #367
Okay, get it! Thanks for the response :)

[2021-11-05 11:42] #367 closed, assigned to balakg

[2021-11-05 16:27] ahoopes commented on #369
At the moment, `load_pheno_csv` assumes the inputs have been pre-normalized and doesn't have any way to differentiate between categorical vs continuous parameters. This is definitely a feature we should add, but for the time being, it's probably easiest to just one-hot encode the categories in the csv. So, if you had a category with labels A, B, and C:

[code]

[2021-11-05 16:29] #316 closed, assigned to nobody

[2021-11-05 18:48] tenres commented on #369
Thanks for the clarification @ahoopes. So, if I were to have one category with labels A, B, C, another category with D, E, F and a number like age, an example specification would be:
image01, 1,0,0, 1,0,0, 45
image02, 0,0,1, 0,1,0, 55
image03, 0,1,0, 0,0,1, 65
...
correct? Do the numbers (age here) also need to be normalized to [0,1]?

[2021-11-08 00:37] SangWoonJeong commented on #366
OK. Let's proceed to the 3d part of the tutorial.

If the tensorflow version is lowered to 2.4 or lower, will the error not occur???

[2021-11-09 05:02] SangWoonJeong commented on #366
Add to,
What I want to do is to save the transformed models between fixCT and movingCT and apply the same to fix and moving segmentation.

When I used it in the past, it was said that this part was difficult in PyTorch.
So I proceeded with tensorflow.
Storing deform models between CTs and applying them to segmentation.
Is this possible in PyTorch? Then you want to use PyTorch. I have confirmed tha

[2021-11-09 15:32] tenres commented on #369
@ahoopes, just following up on this. Thank you very much for your help!

[2021-11-16 14:51] gonlairo commented on #365
--save-warp is not there anymore, you should use this instead:

    register.py --moving moving.nii.gz --fixed fixed.nii.gz --model model.h5  --moved moved.nii.gz --warp warp.nii.gz

However, I have the same problem with input_model.

[2021-11-17 14:03] caro-andonie opened #371 "Getting the transformation parameters"
**Details of experiments**

There is a way to get the transformation parameters between the fixed and moving images? In particular rotation and translation.

[2021-11-27 07:33] WwwwJX opened #373 "some questions about the test accuracy"
Sorry to trouble you.
I meet a question about the test accuracy. According your code, I should write a pair.txt, and the pair.txt should be : test_moving.nii path  train_fixed.nii path.
But the test accuray of it is 66.
However when I make the pair.txt like :    train_fixed.nii path  test_moving.nii   the accuracy is 69, it's higher than the first. But I tnink it's unreasonable. Can you tell me wh

[2021-11-30 15:08] McHz1s commented on #332
Also occurred to me.
Make a little change that:
def func_name(...)
  pred_shape = y_pred.shape
  ...
  other codes
  ...
  dy_mean = 0 if pred_shape[2] == 1 or len(pred_shape) == 4 else torch.mean(dy)
  d = torch.mean(dx) + torch.mean(dz) + dy_mean
  ...
  return grad

[2021-12-07 12:38] hsiangyuzhao commented on #160
Sorry to bother but I wonder what kind of bug you have encountered there? I have met the same problem and I have no idea where the fault lies.

[2021-12-07 12:54] adalca commented on #160
If you are warping a segmentation map (not a one-hot representation), you need to warp with the nearest-neighbour interpolation - are you doing this? Alternatively, you need to go to one-hot (`tf.one_hot`), warp that, then take the `argmax` along the last dimension.

[2021-12-07 13:35] hsiangyuzhao commented on #160
Thanks! That's exactly what I have mistaken.

[2021-12-08 13:22] haoyayuzzz opened #376 "Why MSE loss always increase during training?"
**Task** (what are you trying to do/register?)

[please describe task here]

**What have you tried**

Please describe specifics of your approach // use of `vxm`

**Details of experiments**

Please carefully specify details about your experiments. If you are training, when what is the setup? What loss are you using? What does the convergence look like? If you are registering, please show example in

[2021-12-08 13:24] haoyayuzzz commented on #376
Simply, I wonder if you observed MSE loss increasing during training and how to solve that? Thanks a lot!

[2021-12-08 13:25] adalca commented on #376
@haoyayuzzz not really, i'd recommend lowering the learning rate as a start? It may be taking large steps in the wrong direction

[2021-12-08 13:31] haoyayuzzz commented on #376
But the Dice value of validation set is increasing too,  so I'm confused...

[2021-12-08 13:32] adalca commented on #376
The Hard Dice  or Dice loss (which wants to go down)?
Anyway we'd need to know a lot more about your setup, etc.

[2021-12-08 13:47] haoyayuzzz commented on #376
Actually, I don't use VoxelMorph. I observed the case in my own research. Because you are so good at medical image registration, so I creat this issue and want to get some advices. In my research, I use MSE loss to do multi-modality registration. And I observed dice value (which wants to go up) is increasing when MSE loss in also increasing or quivering.

[2021-12-08 13:57] adalca commented on #376
well, we'd still need more details to really comment -- but of course in general the ideal would be to lower MSE&smoothness if you're doing registration, or just lower Dice if you can use the semi-supervised style approaches, so I would stick with that even though the Dice happens to be improving in your runs. Try getting better gradients (high batch, etc) or lower LR

I'd recommend not using MSE

[2021-12-08 13:58] #376 closed, assigned to nobody

[2021-12-14 18:47] Hoda1394 opened #378 "Error while trying to register with Voxelmorph"
I am using ./scripts/tf/register.py to register an image with the atlas with voxelmorph model and I am getting the following error.

`File "./scripts/tf/register.py", line 65, in <module>
    warp = vxm.networks.VxmDense.load(args.model, input_model=None).register(moving, fixed)
TypeError: load() got an unexpected keyword argument 'input_model'`

python 3.7.11
tensorflow 2.6

I installed voxelmorp

[2021-12-21 08:47] konglingyu812 commented on #239
Hello, I'm doing T1 and t2mri image registration of breast. Can I use the MI loss function of 2D image for reference? My email is konglingyu812@163.com

[2021-12-21 13:31] adalca commented on #239
@konglingyu812 yes you should be able to use it. We're not emailing it out anymore, it's implemented in [neurite](https://github.com/adalca/neurite/blob/dev/neurite/tf/metrics.py) now

[2021-12-23 18:15] tphankr commented on #378
me too, do you solve the problem? thanks.
+ I had two img0004.nii.gz and img0001.nii.gz in Data folder.
 And then I typed ./scripts/tf/register.py --moving ./Data/img0001.nii.gz --fixed ./Data/img0004.nii.gz --moved warp.nii.gz --model vxm_dense_brain_T1_3D_mse.h5 --warp warp.nii.gz --gpu 1
and had the same error:
![image](https://user-images.githubusercontent.com/37217354/147277646-4f1370a9-4a17-

[2021-12-23 18:16] adalca commented on #378
Can you tell us which voxelmorph version you are using -- latest from github, or the pip/pypi version?

[2021-12-23 18:20] tphankr commented on #378
Thank you @adalca,
Yes, I have typed pip install voxelmorph.

Thanks.

[2021-12-23 18:58] tphankr commented on #378
Thank you @adalca .
I have created the environment to do again.
-------------------- My status computer: ------------------
1) tensorflow-gpu==2.6.0
2) I have download the code from mu40's github (https://github.com/JJGO/voxelmorph) with version 506 commits and used
python setup.py install. And we had:
![image](https://user-images.githubusercontent.com/37217354/147279148-d05fe146-d042-477f-824f-0d

[2021-12-23 20:00] Hoda1394 commented on #378
@tphankr I could solve the issue by installing voxelmorph, neurite, and pystrum from their Github.
[voxelmorph](https://github.com/voxelmorph/voxelmorph)
[neurite](https://github.com/adalca/neurite)
[pystrum](https://github.com/adalca/pystrum)

[2021-12-24 03:02] tphankr commented on #378
Thank you @adalca and @Hoda1394 and all,
I solved that error by : python 3.7.10; tensorflow 2.7.0 and reference from https://github.com/voxelmorph/voxelmorph/issues/321 , https://github.com/voxelmorph/voxelmorph/issues/378 (@Hoda1394)

Howerver, the .h5 file (https://github.com/voxelmorph/voxelmorph/blob/dev/data/readme.md#models) is not suitable my case. Because my results is black.
![image](http

[2021-12-24 19:57] tphankr commented on #355
Dear @adalca and @ahoopes ...
These months, I read your comment again and again with this training step and do but not do yet.  Thank you very much.
**Can you provide comments or suggestions more about my processing with this step to I can run this training step?** I faced the problem about the TensorFlow as following( I aslo tried to do many times to re-install the environment but now I am stucke

[2021-12-24 23:44] ahoopes commented on #378
Just to clarify - this original issue is caused by a version mismatch with the dev branch scripts and the formal pip release vxm package. Alternatively to @Hoda1394's recommendation, another option is to use the scripts from the master brach, which should always correspond to the most recent pypi release.

@tphankr regarding the above issue, you should first check to make sure your data is preproc

[2021-12-24 23:44] #378 closed, assigned to nobody

[2021-12-25 00:17] ahoopes commented on #355
Those steps look correct to me. I just tested things with a fresh env and did not run into any issues. What tensorflow version are you using? and are you sure that you're using the recent dev version of voxelmorph/neurite?

[2021-12-27 07:41] tphankr commented on #355
Thank you @adalca and @ahoopes who hinted some keyworks to can solved.
I solved the train step by tensorflow 2.2.0.

Thank you very much.

[2021-12-27 07:42] #355 closed, assigned to ahoopes

[2021-12-27 09:36] tphankr commented on #373
1) My opinion: @WwwwJX . It is easyly understand becuase the second time Image registration output is similar than with Groudn Truth. The problem: we have to determine exactly where the image is the "train_fixed.nii path", where is the "test_moving.nii".

2)  @WwwwJX, Can you capture your pair.txt file or comment when you run your test code. because I am confused to run this test step?. I mean : H

[2021-12-29 01:54] zplasty opened #382 "Value error non-matching shapes in 'Concatenate' layer when training model with 2-D images"
**Task** (what are you trying to do/register?)

Hello, I am trying to use voxelmorph to train a model to register 2-D photos of faces to build conditional templates based on age and other attributes. The photographs have resolution of 600x600. I am having issues though with errors when training my model. I am not sure why non-matching shapes are occuring as the original inputs all match in shape.

[2021-12-29 07:45] WwwwJX commented on #373
The input pairs have at least two images. Source image and Target image, so you should make your input.txt like
source target1image
source target2image
... and so on
But it's my opinion about the project and maybe it's not right. As your answer about my question, I still don't know why. Please tell me the reason for this result.
@adalca @ahoopes @tphankr

[2021-12-29 20:12] #382 closed, assigned to nobody

[2021-12-31 16:57] SkAdilina opened #383 "VoxelMorph M1 Pro chip - Kernel dies"
I am trying to run VoxelMorph on my MacBook M1 Pro chip (Mac OS Monterey) but the kernel crashes when I try to train the model.

**I am using the VxmDense network and I have already executed this code in Google Colab and it works perfectly fine there. But when I run in on the M1 chip the kernel goes dead (I am attaching the screenshot of the error)**

Note that I ran other codes that uses tensorfl

[2022-01-03 16:16] ahoopes commented on #373
Right. Each line in the 'pairs' text file should define a (moving, fixed) image pair to align, for example:

[code]

Then you could, for example, use the corresponding 35-label segmentations to compute accuracy using a command similar to:

[code]

@WwwwJX are you asking why the Dice scores differ depending on the deformation direction? or why these scores are in the 60s?

The scores will differ de

[2022-01-03 16:26] tphankr commented on #373
Thank you for your reply @ahoopes.
These day, I also try to think about the @WwwwJX's  problem but not clearly answer to @WwwwJX. Thank you @ahoopes.

@ahoopes I will do the step immediately and report again if have problem.

Thanks all.

[2022-01-03 20:23] thomasediolausson commented on #371
I don't know if this could help you, but I did something like this for my own project using the code in this repository

What I needed were rigid body transformation parameters (i.e. translations and rotations) for registering two images. I used the [ParamsToAffineMatrix](https://github.com/voxelmorph/voxelmorph/blob/f14939a6db68e14b0e1b1fefe4b97ce90852809e/voxelmorph/tf/layers.py#L447) layer to c

[2022-01-04 12:42] WwwwJX commented on #373
@ahoopes
Thanks for your answer sincerely.
And I have a question about the input.txt. According your paper, you let one image as fixed image and let the others as moving inage. So I think the input.txt should:
moving_1, fixed
moving_2, fixed
moving_3, fixed
...
why you let the txt as
OASIS_OAS1_0001_MR1 OASIS_OAS1_0002_MR1
OASIS_OAS1_0003_MR1 OASIS_OAS1_0004_MR1

I hope you can tell me why

[2022-01-05 11:35] KaiXin21 opened #384 "Wrong wrapping of contour points using dense deformation"
Hello,
**Task**
I am trying to use VoxelMorph (VM) to register cardiac ultrasound images.

**What have you tried**
I trained a baseline VM model without diffeomorphic or probabilistic, and predict the displacement field between end-systolic (ES) frame and end-diastolic (ED) frame.

**Details of experiments**
I get moved_image by wrapping the moving_image using the resulted dense displacement field

[2022-01-05 13:00] adalca commented on #384
just to make sure, you mean [warping](https://en.wikipedia.org/wiki/Image_warping) not [wrapping](https://en.wikipedia.org/wiki/Wrapping_(graphics)), right?

I can't parse all the code, but what I can see looks okay to me. To test this code with a simpler example, I would recommend trying a very quick MNIST model and then warping some points in those images with this exact code you showed here.

I

[2022-01-06 16:42] KaiXin21 commented on #384
@adalca
Thank you for helping, I try a test on the MNIST data, but still have annotation warping errors. Yes, I mean warping not wrapping.
I trained a model on the MNIST data following the tutorial on https://colab.research.google.com/drive/1WiqyF7dCdnNBIANEY80Pxw_mVz4fyV-S?usp=sharing#scrollTo=joVczQLTPXMZ.
Train 10 epochs, the loss looks decaying:
![image](https://user-images.githubusercontent.c

[2022-01-06 17:07] adalca commented on #384
ah, at a quick glance, one small issue might be that plotting work in [col, row] whereas numpy/tf/etc work with [row, col] indexing.
you can read about ij vs xy indexing here: https://numpy.org/doc/stable/reference/generated/numpy.meshgrid.html

But basically what you can do is flip the [x, y] coordinated in your `annotation_fix`
Then when you plot show annotation_fix[:, 1] first
same with annotat

[2022-01-07 15:48] KaiXin21 commented on #384
@adalca
Thanks! I tried flipping the [x, y] coordinated for MNIST, it works well!!
![image](https://user-images.githubusercontent.com/96538810/148567653-483d064e-4fc4-47f8-a6fa-aa345bdbd2fe.png)
And I try the same trick on the heart image,  now the warped contour (blue curve) have obviously shrinked!
![image](https://user-images.githubusercontent.com/96538810/148568665-c7afeaef-098c-4434-9a1d-99b4

[2022-01-07 15:58] adalca commented on #384
Yup, if you warp several times with the default (linear) interpolation, you will keep blurring the image a bit more every time. You should definitely compose the transformations (we have utilities for this in `vxm.utils` and layers for composing as well): https://github.com/voxelmorph/voxelmorph/blob/f14939a6db68e14b0e1b1fefe4b97ce90852809e/voxelmorph/tf/utils/utils.py#L215

[2022-01-07 18:36] KaiXin21 commented on #384
Many thanks again for the suggestions, they are very helpful guidance!! let me try to compose the transforms.

[2022-01-10 15:13] Robotronikpi opened #385 "error register.py voxelmorph line 65"
****
Hi,
I try to register images with voxelmorp using the command
%run register.py --moving temp.npz --fixed temp.npz --moved temp2.npz --model model_1.h5 --gpu 0
temp.npz (3D array between 0,1)
and model_1.h5 is :  https://surfer.nmr.mgh.harvard.edu/ftp/data/voxelmorph/synthmorph/shapes-dice-vel-3-res-8-16-32-256f.h5
and i get this error :
***
``
-------------------------------------------------

[2022-01-10 16:01] adalca commented on #385
Hi @Robotronikpi , Can you tell us if you've gone through #378 where @ahoopes suggested a specific way to handle the versions?

[2022-01-10 17:36] Robotronikpi commented on #385
Ok now it's working! , the error was as  @ahoopes said, I use dev code and I installed master branch of voxelmorph.
so to correct that I installed the dev code instead (pip install git+https://github.com/voxelmorph/voxelmorph.git@dev#egg=voxelmorph) and i get a new error because of my version of TensorFlow that i a find a solution here : https://github.com/tensorflow/models/issues/9700
(reinstall

[2022-01-10 17:36] Robotronikpi commented on #385
Ok now it's working! , the error was as @ahoopes said, I use dev code and I installed master branch of voxelmorph.
so to correct that I installed the dev code instead (pip install git+https://github.com/voxelmorph/voxelmorph.git@dev#egg=voxelmorph) and i get a new error because of my version of TensorFlow that i a find a solution here : tensorflow/models#9700
(reinstall a another version of tensor

[2022-01-21 12:40] KaiXin21 commented on #384
@adalca
Can I ask where is the function of "affine_to_shift" in the latest Github version of voxelMorph?  I've installed latest voxelmorph from Github, and found
AttributeError: module 'voxelmorph.tf.utils' has no attribute 'affine_to_shift'...
Thank you!

[2022-01-22 15:05] Neonsign247 opened #388 "Training VoxelMroph with my own dataset"
Thank you for your nice work and code.
I'm having trouble utilizing your code to my own dataset.

**Task** (what are you trying to do/register?)

I'm trying to train new voxelmroph model that learns how to register from my own moving(following) 3D CT image to paired fixed(baseline) 3D CT image.

**What have you tried**

I read readme and some issues about 'list.txt' but I don't understand how to f

[2022-01-24 02:28] adalca commented on #384
Where did you get this error?

the function is here, and slightly different named: https://github.com/voxelmorph/voxelmorph/blob/67bc9d209c2eb42dee09276b5d1cb77eb8587c54/voxelmorph/tf/utils/utils.py#L565

@ahoopes might also be of help

[2022-01-24 11:22] KaiXin21 commented on #384
@adalca @ahoopes
I have installed the latest Github version of VoxelMorph, and trying to do annotation warp.
The AttributeError: module 'voxelmorph.tf.utils' has no attribute 'affine_to_shift'   pop up when I try to run
"field_inv = vxm.utils.affine_to_shift(aff_inv, im.shape, shift_center=True)[np.newaxis,
...]" in VoxelMorphAffineAnnotationWarp.ipynb (https://colab.research.google.com/drive/1V0C

[2022-01-24 13:16] ahoopes commented on #384
In vxm utilities, the affine matrix shape should always be `(N, N+1)`, where `N = ndim`, for consistency. So you can crop your 2D input affine matrix to shape (2, 3) with `matrix[:2, :]`. That should fix the error.

[2022-01-24 13:25] ahoopes commented on #373
@WwwwJX which paper are you referring to? While you might have only one fixed image for atlas-based (subject-to-atlas) registration models, you can use any arbitrary image pair at test-time for subject-to-subject registration models.

[2022-01-31 02:49] codeenthusiast opened #389 "Create a surgical atlas"
Hi team, I am hoping to create a surgical atlas from approximately 30-50 CT head's and then develop a registration-segmentation pipeline. I had previously tried this in ANTs but was not getting the desired accuracy. Therefore, I was hoping to do it in Voxelmorph. So my questions are:

1) Can I create a surgical atlas? (is there a function or code I can use for this?)
2) For registration of the atl

[2022-01-31 02:52] adalca commented on #389
Hi @codeenthusiast ,

I believe the answer is yes -- our template (atlas) building tools should apply to your dataset of 30-50 CTs. Just to be sure, what does surgical signify here? I suspect this script should help you: https://github.com/voxelmorph/voxelmorph/blob/dev/scripts/tf/train_template.py

We haven't built CT atlases, so it might be useful to know a bit about your data, how diverse they

[2022-01-31 03:03] codeenthusiast commented on #389
Thanks Adrian for your reply! Sorry for the confusion, they are just fine-cut head CT's. Primarily, we are interested in registering small structures in the head such as inferior turbinate (image below).

We would like to build an atlas to serve as our population representation. From here, we were hoping to 1) develop SSM's to showcase the variability of a particular structure in the population an

[2022-01-31 03:06] adalca commented on #389
Got it, makes sense. You should be able to do with with vxm.

I'd recommending going through the tutorial, it gives an idea of our atlas building frameworks with simplistic examples.

It would be optimal if your data was **roughly** affinely in the same space already. The most challenging part will be to tune the loss to match your dataset. I haven't worked with CT too much, but normalizing the da

[2022-01-31 03:09] codeenthusiast commented on #389
Sounds great, thanks again Adrian. Will give that a try and post here again if any issues.

[2022-02-03 18:09] codeenthusiast commented on #389
Hi Adrian, just following up on the suggested resources. I had a look at the train_template. From my understanding, I need to pass in a set of images to img_list and call the read_file_list function. Thereafter, the vxm.networks.TemplateCreation function would generate my template which would technically be the average of all my CT's. Do I have the correct understanding?

Two other questions:
1) I

[2022-02-04 12:12] KaiXin21 commented on #384
@adalca, sorry to bother you again, I try to visualize the deformation field by warping an image grid and compute the determinant of Jacobian. Here is the result:
First row shows: deformed moving_image and grid using deformation_field1 (∅1), and determinant of Jacobian of ∅1.
Second row shows: deformed moving_image and grid using deformation_field2 (∅2), and determinant of Jacobian of ∅2.  ∅2 is a

[2022-02-05 22:11] #389 closed, assigned to nobody

[2022-02-05 22:25] codeenthusiast opened #390 "Image 'Model' training Generation"
I am working on creating a template for a series of 3D images by using the train.py (specifically the vxm.networks.VxmDense function). Unfortunately, my training images have unequal dimensions (e.g. img1 [512,512,230] img2[512,512,280]). As a result, before I go ahead, I need to resample my image. Does VXM have a function that I can use to resample my images? Thanks!

[2022-02-07 01:12] adalca commented on #390
Hi @codeenthusiast
I wouldn't recommend resizing, since that would affect the voxel dimensions. If you still wish to that, you could use scipy.ndimage.interpolation.zoom. However, I'd recommend padding up to 512^3 (and as a test reshape the 512^3 to 64^3 to see if you can learn that atlas first

[2022-02-07 01:25] codeenthusiast commented on #390
Thanks for your reply Adrian. Just to clarify, in order to train my model, I have to make sure that all my images have the same dimensions correct?

With the Scipy function, we actually tried that and although the dimensions were equal across images, it made some look compressed/stretched. I assume that shouldn't happen?

[2022-02-07 01:26] adalca commented on #390
yes, same size.

right, that's what i meant about not using scipy to resize from 280 to whatever -- you'll stretch/compress the image.

instead, you should pad with zeros (e.g. to 512). Then if you resize *all* dimensions to e.g. 64, it'll be changing all axes by the same factor, so it wont' be stretched

[2022-02-07 01:31] codeenthusiast commented on #390
Great, I will try that. If I do pad however, when the images are overlaid on top of one another, I assume some will be larger than others? Is that okay when fed into he model?

[2022-02-07 01:34] adalca commented on #390
Hm, im not sure i understand. I'm suggesting you pad them all to 512x512x512, so they would all be the same size.

[2022-02-07 01:38] codeenthusiast commented on #390
Sorry, I meant once they are all padded to be 512x512x512, an image that has more padding would look smaller than an image with less padding. I am specifically referring to CT, in this case, the head.

[2022-02-07 01:39] adalca commented on #390
right, some images will have more black. Is the head substantially cropped, or is it more neck that's being cropped? I'd have to see some images.

[2022-02-07 01:43] codeenthusiast commented on #390
Yes, it is primarily the head but as you move the scan posteriorly, then the back of the neck may sometimes be included. Below is a sample from Google Images but that is essentially what the images look like.

![image](https://user-images.githubusercontent.com/6239462/152712135-8797bfd4-629b-4590-9d13-0e153001d2c4.png)

[2022-02-08 20:19] #390 closed, assigned to nobody

[2022-02-08 20:21] codeenthusiast opened #391 "Register.py error on terminal"
**Task** Trying to register fixed and moving image.

I am trying to use the register.py function on terminal via the following "./scripts/tf/register.py --moving ./scripts/tf/Target.nii.gz --fixed ./scripts/tf/Template.nii.gz --moved ./scripts/tf/warped.nii.gz --model ./scripts/tf/vxm_dense_brain_T1_3D_mse.h5".

But I get the following error:

warp = vxm.networks.VxmDense.load(args.model, input_mo

[2022-02-09 00:17] YuliangXiaoYLX opened #392 "Incompatible version of pip installed package and github files / error on using model.set_atlas()"
**Task** (what are you trying to do/register?)

I am trying to create a training template based on the given datasets

**What have you tried**

I use the terminal and jupyter notebook to run the code

**Details of experiments**

Firstly, the version of voxelmorph packages installed by pip is not corresponding to that in the github. So when we try to run the scripts, it has some errors. Also, we ha

[2022-02-11 01:01] Hoda1394 commented on #391
I was getting the same error but installing voxelmorph and neurite from GitHub solved the issue. check [#378](https://github.com/voxelmorph/voxelmorph/issues/378)

[2022-02-11 02:14] Hoda1394 opened #393 "Input layer incompatibility error while trying to register with Synthmorph models"
I am trying to test the SynthMorph models for registration but I am getting an Input layer incompatibility error. I tried a couple of images but to make sure it is not due to the affine registration between the input and target, I used the same image for both and still got this error. This error appears for both `brains` and `shapes` models.
The command I run:
[code]
error:
[code]
@mu40 - any idea

[2022-02-11 13:12] adalca commented on #393
I'll let @mu40 comment more, but it seems like you loaded a model initialized with a certain shape and are giving an input with a different shape?

[2022-02-12 23:39] mu40 commented on #393
Hi @Hoda1394, the model is built using the shape stored in the weights file instead of the size of the image you actually want to register. PR #394 should fix this.

[2022-02-17 16:19] Hoda1394 commented on #393
Thanks, the issue is fixed.

[2022-02-17 16:38] #393 closed, assigned to nobody

[2022-02-25 17:53] Charles-Hu opened #398 "problems in multi modal registration"
**Task** (what are you trying to do/register?)

PET and CT image of mouses(multi-modal)

**What have you tried**

Calculate Hu and SUV of each CT, PET image. Split each image to small patches. 0-1 norm for each patch. Use default parameters to train the model. Use NCC loss and lambda  = 1.

**Details of experiments**
The loss didn't decrease. I try to print the result, and find that the moving ima

[2022-02-25 18:00] adalca commented on #398
What are the images you're showing?
Can you try lowering the LR?

[2022-02-25 18:10] Charles-Hu commented on #398
The image is the ct and pet of mouses. Below is one of the whole body images.
![image](https://user-images.githubusercontent.com/52573031/155765641-1a89aad7-94e2-417e-ba9e-7be975f9ef1a.png)
The first subplot is PET, the second is CT
The image I upload at the issue is the patches of whole body images.
I use lr= 1E-4

[2022-02-25 18:16] adalca commented on #398
you uploaded 3 images, what is the first one?

[2022-02-25 18:21] Charles-Hu commented on #398
![image](https://user-images.githubusercontent.com/52573031/155767002-aa7742dd-7264-4789-a115-b4f3ccd9468c.png)
This image is one of the whole body pet image.
![image](https://user-images.githubusercontent.com/52573031/155767053-5c84488e-02cd-432c-93a7-0664f604353d.png)
This image is one of the whole body ct image
![image](https://user-images.githubusercontent.com/52573031/155767119-9b250cb3-cb5b-

[2022-02-25 18:23] Charles-Hu commented on #398
They are all 3D images

[2022-02-25 18:23] adalca commented on #398
sorry what are 'another output' and 'final output'? You mean after different epochs?

are the images normalized to [0, 1]?

I would recommend normalizing the images to [0, 1] and making the regularization higher than it was by default.

[2022-02-25 18:26] Charles-Hu commented on #398
another output and final output  are the output after different epochs. The mean of the images is 0 and the variance is 1. I will try to normalize the images to [0, 1] and make the regularization higher than it was by default.

[2022-03-02 21:45] randomAowu commented on #382
Hi, I'm having the same issues now. Have you solved this? Thanks for any help!

[2022-03-03 01:38] adalca commented on #382
the voxelmorph core architecture (which you can change with your favorite thing) is a simple unet with 4 layers, which requires your input data to be a multiple of 32. This is likely the issue, unfortunately.

[2022-03-04 03:24] Berumotto1 commented on #391
TypeError: load() got an unexpected keyword argument 'inshape'
I got this error, anyone have any idea how to solve this error?

[2022-03-04 03:25] adalca commented on #391
@Berumotto1 could you tell us what you are using? did you pull voxelmorph from git or via pip? etc

[2022-03-04 03:29] Berumotto1 commented on #391
I install voxelmorph from pip via this command: pip install git+https://github.com/voxelmorph/voxelmorph.git@dev#egg=voxelmorph.
And my branch is dev

[2022-03-08 12:50] MrPolong commented on #330
I get the same question. And I have found a way to solve this in `voxelmorph/scripts/tf/test.py`. You can try to use `model = vxm.networks.VxmDense.load('../mods/vxm_dense_brain_T1_3D_mse.h5')` to load this model.

[2022-03-11 10:17] cs123951 opened #402 "About the formula in the MIVVAI version"
Hello,
   I have read your paper:
A. V. Dalca, G. Balakrishnan, J. Guttag, and M. R. Sabuncu, “Unsupervised Learning for Fast Probabilistic Diffeomorphic Registration,” in Medical Image Computing and Computer Assisted Intervention – MICCAI 2018, vol. 11070,  Cham: Springer International Publishing, 2018, pp. 729–738. doi: [10.1007/978-3-030-00928-1_82](https://doi.org/10.1007/978-3-030-00928-1_82)

[2022-03-11 13:01] adalca commented on #402
We were using semi-colon to indicate that y is fixed in this formulation.
p(z,x,y) should have a semi-colon p(z,x;y) undet that notation.
You could take y out of all these terms and have the same derivation, but adding the y there reminds us that there is a fixed image that we're doing everything with respect to.

[2022-03-11 13:01] #402 closed, assigned to nobody

[2022-03-12 16:11] iamsharmatul opened #404 "Help to improve slow validation code"
**Task** (I am trying to perform a scan to scan registration (interpatient))

[I am currently trying to register ]

**Details of experiments**
- I am trying to reproduce the result obtained in [Voxelmorph](https://arxiv.org/abs/1802.02604) for VoxelMorph-2.
- All hyperparameters are set to Default.
- I have modified the` generators.py` code so that I can load custom pairs.
- I have added the valid

[2022-03-15 16:27] kiwibruyant opened #405 "CT-scan preprocessing"
Hello,

I'm working on registration on longitudinal CT-Scan of chest/abdomen/lungs and I'm wondering if I should do the same preprocessing steps used in the voxel morph paper for the brain; i.e, affine registration and especially skull stripping (in this case it would be rib cage stripping) ?

Thanks in advance,

[2022-03-16 03:13] adalca commented on #405
no, those are not necessary -- you just have to choose the right losses for your data. I'd recommending rescaling your data to be roughly in the (0,1) or (-1,1) range and starting from there.

[2022-03-17 17:09] imogen-edwards commented on #229
We're coming across a similar issue in our code, has anyone found a solution to the problem?

[2022-03-21 14:33] kiwibruyant commented on #405
@adalca Thank you very much. I have another questions. To evaluate voxelmorph's performances with DICE score you are using segmentations labels of anatomical regions/area, I'm wondering how do you obtain them on the warped images obtained after the registration process, are you doing it manually (by an expert for instance) or via an automatic algorithm ?

[2022-03-21 14:40] adalca commented on #405
are you asking how to segment the original images or how to warp segmentations?

to segment original images we sometimes have manual segmentations or something done with algorithms (see e.g. https://surfer.nmr.mgh.harvard.edu/fswiki/SynthSeg)

to propagate (warp) label maps you can take a look at how its done in the test.py script, basically we just use the deformation field to warp the label maps

[2022-03-22 05:29] kimtaeuk-AI opened #406 "Encounters an error during synthmorph tranning"
Hello,

I'm doing a lot of things with your codes.
However, an error  in  synthmorph tranning  occurs.

_ValueError
A `Concatenate` layer requires inputs with matching shapes except for the concat axis. Got inputs shapes: [(None, 2, 64), (None, 3, 64)]_

I'm doing

arg.label_dir = ???
arg.out_labels='fs-labels.npy'

May I know what 'label_dir, out_labels' you used?

Thank you in advance.

[2022-03-22 06:59] Asphyxiate-Rye opened #407 "No module named 'neuron.layers'"
Hello, when I tried the legacy version of register.py, I used my own picture. After setting the python system path, it still shows No module named 'neuron.layers'. What's going on?

[2022-03-22 14:46] adalca commented on #407
we really haven't supported the legacy branch for a long time -- is there a reason you're trying to use it compared to our latest?

[2022-03-22 15:16] mu40 commented on #406
It's great to hear that you find our code useful! Unfortunately, I can't help with the error you get without further information. You will want to find out which tensors these are, and why they differ in shape.

The `label_dir` argument should be a path pointing to your training label maps, while the `out_labels` argument defines the (numerical) labels whose overlap you want to maximize during tra

[2022-03-23 00:51] kimtaeuk-AI commented on #406
Hello! Thank you for your reply.

I was using Oasis Seg data.

Oh no... It was a problem because the code of "neurite uitls.py" was different.

Thanks to you, I am happy to know label_dir and out_label.

Thank you so much :)

[2022-03-24 11:48] kimtaeuk-AI commented on #406
Hello.. I have a second problem. Synthmorph.

I tried to learn by making the label_dir and out_label that you told me, but the learning didn't go well.

I put  in label_dir -
![Untitled](https://user-images.githubusercontent.com/83504682/159904852-1bf93f97-3437-40ce-883c-ddd6cb589b83.png)
, shape = 160,192,224, array = [0,1,2,3,4 ... 38,39]
     , in out_label -![image](https://user-images.githubu

[2022-03-24 11:48] kimtaeuk-AI commented on #406
Hello.. I have a second problem. Synthmorph.

I tried to learn by making the label_dir and out_label that you told me, but the learning didn't go well.

I put  in label_dir -
![Untitled](https://user-images.githubusercontent.com/83504682/159904852-1bf93f97-3437-40ce-883c-ddd6cb589b83.png)
, shape = 160,192,224, array = [0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]
     , in out_label -![image](

[2022-03-24 16:28] mu40 commented on #406
How many label maps did you generate? Your loss seems quite low to begin with; does it decrease during training? Does your trained model register training image pairs?

[2022-03-25 00:19] kimtaeuk-AI commented on #406
Oh! Thank you. I put only one image. :) Have a good day

[2022-03-25 00:19] #406 closed, assigned to mu40

[2022-03-25 22:01] iamsharmatul commented on #404
Dear @adalca

Could you please help with how can optimize the validation time? I wish to compute two metrics mutual information and dice score

[2022-03-27 05:46] sun-sc opened #408 "about it seems to learn nothing"
hello,  thank you so much for sharing your great work! I have met some questions.
**Task** (what are you trying to do/register?)

I'm using my own data about abdominal CT. I want to registerdifferent ct images of the same patient to account for positional changes caused by respiration. But the result seems the same to the original image.

**What have you tried**

I have already change the data in

[2022-03-27 07:03] Ehsan-data opened #409 "WARNING:tensorflow:Model was constructed with incompatible shape"
**Task** (what are you trying to do/register?)

[](https://stackoverflow.com/posts/71634277/timeline)0

I'm trying to use a pre-trained model with my own MRI 3D data to register brain MRI images
**What have you tried**

I loaded my 3D data using nilearn
**Details of experiments**

f_img_1= nib.load('/Users/training/013/time01.nii.gz')
f_img_2= nib.load('/Users/training/013/time02.nii.gz')

img_dat

[2022-03-28 01:24] adalca commented on #409
The model is indeed trained with a different size. You can *try* to register your images, but you'll need to pad them to be of a size that is a multiple of 32, so maybe [384, 256, 256]

[2022-03-28 01:26] adalca commented on #408
can you tell me how large your images are and what the hyperparameter value is?

[2022-03-28 05:31] sun-sc commented on #408
thanks for your reply.
1. the size of one image is 128 * 240 * 288.
2. batch_size is 1
3. i use 120 pairs to train( one fixed image and one moving image) , and test on 30 pairs
4. the encoder filters is 16 32 32 32
5.  the decorder filters is 32 32 32 32 32 16 16
6. learing rate is 1e-4
7. the loss is mse loss
8. step per epoch is 100 ,image sigma is 1
(hyperparameter are used the default in ./scr

[2022-03-29 12:15] adalca commented on #408
we haven't really used image sigma in a long time, i guess my question is what the size of `lambda` is when using mse? To me if the result looks the same as the moving image, the immediate thing to look at is whether your deformation regularization (`lambda`) is too large.

[2022-03-29 12:35] sun-sc commented on #408
hello , the lambda is  [1, 0.01] ( I print the list in `./scripts/tf/train.py  line 178,about the var weights ` , Did I misunderstand what you meant? ）,will i reduct the value of ‘1’ ，such as 0.5, 0.01?

[2022-03-30 00:34] adalca commented on #408
no, this seems right. Seems a bit weird that you are getting no deformation fields, though. I would try lowering the 0.01 part to even lower, say 0.001, and ret-training, although this result surprises me.

You might want to look at [hypermorph](http://hypermorph.voxelmorph.net/), @ahoopes 's recent work.

[2022-03-30 09:47] Ehsan-data opened #411 "registering 3-D FLAIR images using pre-trained models"
### Discussed in https://github.com/voxelmorph/voxelmorph/discussions/410

<div type='discussions-op-text'>

<sup>Originally posted by **Ehsan-data** March 30, 2022</sup>
Hi there,

I wonder if using the pre-trained models would create any issue when registering  3-D FLAIR  images instead of T1 weighted images. I used the pre-trained model "brain_3d.h5" to register my MRI images, and the results w

[2022-03-30 09:52] Ehsan-data commented on #409
I changed the shape of my images and it did work, however, the registration results are not good. I am using 3d FLIR images, would you know if this could create any problems. As far as I know, the pre-trained model is trained for aT1 images.

Also, I am not sure if the image intensity has anything to do with it.

cheers,

[2022-03-30 12:08] sun-sc commented on #408
I have solved it. Thank you very much! I couldn’t have done it without you!!

[2022-03-30 12:08] #408 closed, assigned to nobody

[2022-03-31 02:39] adalca commented on #411
I've replied in #410  and will close this -- I think you can use synthmorph models to try this.

[2022-03-31 02:39] #411 closed, assigned to nobody

[2022-03-31 02:40] adalca commented on #409
ok, you should definitely try the synthmorph models or train your own model. We'll continue in #410

[2022-03-31 02:40] #409 closed, assigned to nobody

[2022-04-02 06:10] Ehsan-data opened #412 "ModuleNotFoundError: No module named 'pystrum.pytools.patchlib'"
Hi Guys,

For some reason, anytime I try to import Voxlemorph, Python throwes below error:

ModuleNotFoundError: No module named 'pystrum.pytools.patchlib'

It used to work perfectly but not quite sure what happened. I searched a lot and reinstalled pytools but error doe not seem to be solved. I was wondering If any of you have come across this?

Cheers

[2022-04-03 16:49] haru121498 opened #413 "'OASIS_OAS1_0080_MR1' is not a file"
Hello ，Professor：
when I try to run train_hypermorph.py occur this error.
![image](https://user-images.githubusercontent.com/80117690/161438576-2ea8a8dc-50e5-44d8-9a78-c53b3ee1028d.png)
And the error is random when I try it multiple times.
![image](https://user-images.githubusercontent.com/80117690/161438636-abbd877f-1030-4bdd-879d-ca73ed350130.png)
![image](https://user-images.githubusercontent.c

[2022-04-04 04:03] #413 closed, assigned to nobody

[2022-04-04 04:04] haru121498 commented on #413
I have solved it

[2022-04-04 12:40] adalca commented on #412
I have not -- did you try just pulling new versions of vxm, neurite and pystrum, and then set the python paths right?

[2022-04-05 05:27] Willianwatch opened #414 "About the range of NCC loss."
**Task** (what are you trying to do/register?)

I am try to register the neighboring to slices of MR image.

**What have you tried**

I use the 2D PyTorch version of VoxelMorph.

**Details of experiments**

I set the weight of gradient loss to 0 to see what will happen with only NCC loss. I rewrite the NCC loss as follows, but the loss is pretty slow and smaller than -1 (could to -50). Is it norma

[2022-04-05 05:30] Willianwatch commented on #414
``import math

import numpy as np
import torch
import torch.nn as nn
import torch.nn.functional as F

class LocalCrossCorrelationWithSmoothnessLoss(nn.Module):
    def __init__(self, shape, length, alpha, penalty):
        super(LocalCrossCorrelationWithSmoothnessLoss, self).__init__()
        ndims = len(shape) - 1
        if not ndims in [1, 2, 3]:
            raise AssertionError("volumes shoul

[2022-04-06 19:25] #398 closed, assigned to nobody

[2022-04-07 14:12] eleplantttt opened #417 "How to change the test file to test the hypermorph trained model？"
I use the oasis dataset,there is my file configuration
![image](https://user-images.githubusercontent.com/76862982/162219283-f125cd9f-66f0-4d36-879e-eb1e389e8296.png)

![image](https://user-images.githubusercontent.com/76862982/162219176-5108a27d-2381-40de-a3e4-4e9660dcc524.png)
This is my mistake
ValueError: Layer model_1 expects 3 input(s), but it received 2 input tensors. Inputs received: [<tf.

[2022-04-07 14:19] eleplantttt commented on #417
The other inputs is the hyp_input?[None,1]

[2022-04-07 14:33] eleplantttt commented on #417
Is there any scripts to test hypermorph?      test_hypermorph.py?

[2022-04-15 00:18] xiaogengen-007 opened #419 "Issue with hypermorph (--image-sigma and sampling distribution)"
**Task** (what are you trying to do/register?)

Hello, I am trying to register 3D head&neck CT images and use hypermorph to find the best regularization parameters.

**What have you tried**

Question 1 (--image-sigma):
I first trained with the default --image-sigma in train_hypermorph.py (0.05). The results didn't look good probably due to the mse loss being scaled too large. Then I tried --image-

[2022-04-15 00:25] adalca commented on #419
I'll let @ahoopes comment in more detail, but in the journal version of HyperMorph (https://arxiv.org/abs/2203.16680) we discuss the importance of normalizing your loss terms (Figure 12). One good thing to do is normalize your data (or the MSE term) by the noise in your data.  That's why we ask for the image noise. If you estimate it in the right ballpark, you'll get a better behaved overall hyper

[2022-04-19 03:58] nohsoocheol opened #420 "Questions about SynthMorph validation phase"
**Task** (what are you trying to do/register?)

SynthMorph validation phase

**What have you tried**

SynthMorph validation phase

**Details of experiments**

First of all, thank you for sharing codes and papers.
I have reimplemented SynthMorph codes based on pytorch and I'm wondering how to use a dataset in the validation phase.
In SynthMorph paper, using 10 registration pairs is mentioned, but I

[2022-04-19 12:40] adalca commented on #420
@mu40 can comment best here, but you can probably use data like https://github.com/adalca/medical-datasets/blob/master/neurite-oasis.md

[2022-04-19 16:30] mu40 commented on #420
For validation, I suppose you will want to use real acquired MR images, assuming this is what you plan to register down the line. In the SynthMorph paper, we test several public datasets and measure accuracy by comparing label maps after applying the transforms estimated from the corresponding images.

While you can get label maps by segmenting images using a method of choice (e.g. SynthSeg, SAMSE

[2022-04-20 01:28] nohsoocheol commented on #420
Thank to both of you for the answers and the link!

[2022-04-20 01:28] #420 closed, assigned to nobody

[2022-04-20 22:41] solarflarefx commented on #388
@Neonsign247 Have you solved this issue?

[2022-04-26 04:32] keshavak opened #421 "Registering to the generated conditional template"
Dear Voxelmorph team, thank you for making the code available and for all your support. I trained the conditional template generation model using train_cond_template.py for 1500 epochs (default). The output of the model training was '.h5' files of the parameters, saved every 20 epochs. I used the final model file '1500.h5' to generate templates based on specific values of attributes. The atlases l

[2022-04-26 15:38] adalca commented on #421
The model already outputs the deformation field. When you say 'How can I extract the registration model', what are you hoping to get?

[2022-04-26 16:17] keshavak commented on #421
Thanks for your reply. I guess I am trying to understand the output. The '.h5' file is the conditional generative model parameters to generate an atlas conditioned on specific attributes, and am able to generate atlases using them. Now, how do I perform the next step of registering a "new" test image to the generated atlas? I may be missing something.
Thank you!

[2022-04-27 02:00] adalca commented on #421
if i am thinking the right model, the model takes in attributes (let's say age), and generated an atlas, but also takes in an image and generates the warp and warped image (Figure 2 in https://arxiv.org/pdf/1908.02738.pdf).
If you load your model and type `model.inputs`, `model.outputs`, what does it come out with?

[2022-04-29 05:33] haru121498 opened #422 "IndexError: list index out of range"
Dear professor, thank you for making the code available .
I installed the libraries used using setup.py.When I trained the tf version, the following error occurs, making the training impossible:

![344DVJEH_Z~HTDSU%KAEH1U](https://user-images.githubusercontent.com/80117690/165889405-1fca087e-2870-4074-b5fc-4bdcfb0c04a7.png)
The version I am using is tf 2.8. How should this be solved please, thanks

[2022-04-29 11:57] adalca commented on #422
can you show us what command you used to train? It seems like your goal is to use hypermorph?

[2022-04-29 14:00] haru121498 commented on #422
Thank you for your reply.But I use train.py to train "neurite-oasis.2d.v1.0" dataset.

[2022-04-29 14:34] ahoopes commented on #422
Hi @haru121498. To debug this, we will need some info about the exact command you ran as well as where you got the code from (e.g. github dev/master or pip versions)

[2022-04-29 15:10] haru121498 commented on #422
Hello Professor.
I did
`$ git clone https://github.com/adalca/pystrum
$ git clone https://github.com/adalca/neurite
$ git clone https://github.com/voxelmorph/voxelmorph.git`
and then ran
`$ python setupp.py install`
I ran ./scripts/tf/train.py in terminal.
The strange thing is that sometimes it works successfully, and sometimes the above error occurs.

[2022-05-02 06:47] ha5750 opened #423 "Registration with semi-supervised trained model .h file"
**Task** (what are you trying to do/register?)

(I) I have finished training with semi-supervised train.py with mostly default parameters except for lambda, epochs, and the addition of validation dataset generator. Now, using the saved weight, I tried to register the two images (register.py is used) but got the following error. I'm assuming it may be linked to how the semi-supervised model was sav

[2022-05-03 14:27] ahoopes commented on #422
The command line options provided to train.py would be most useful here

[2022-05-03 14:50] haru121498 commented on #422
I tried running train.py on goole colab.
![image](https://user-images.githubusercontent.com/80117690/166475698-d44aac94-bcc5-4e6e-a112-cf60a77941f1.png)
![image](https://user-images.githubusercontent.com/80117690/166476706-3585d737-a05c-4dca-b9e8-2aff3007caa7.png)
The command line options as
`!python /content/drive/MyDrive/hymorph/voxelmorph_dev/scripts/tf/train.py`

[2022-05-03 14:53] haru121498 commented on #422
I tried to run train.py on goole colab.
![image](https://user-images.githubusercontent.com/80117690/166477683-9dd0db2c-de47-45d7-864d-85aa82952201.png)
![image](https://user-images.githubusercontent.com/80117690/166477810-2933f94e-7af5-4f75-be7f-44badb2d6169.png)
The command line option as
`!python /content/drive/MyDrive/hymorph/voxelmorph_dev/scripts/tf/train.py`

[2022-05-03 15:03] ahoopes commented on #419
Right, as Adrian mentioned, the sigma term is very important for normalization in MSE. You could try a value of 1, which might work fine in some cases, but you risk skewing the landscape of reasonable lambda values to a very small range.

At the moment, I'm updating some hypermorph test scripts so that we can better visualize these effects.

[2022-05-03 17:14] ahoopes commented on #422
You'll need to provide the appropriate command line arguments described in the *training* section of the vxm README: https://github.com/voxelmorph/voxelmorph/blob/dev/README.md

[2022-05-03 17:18] ahoopes commented on #417
Sorry for the delay, but yes, this is correct.

No complete hypermorph test script at the moment, but the final lines in `train_hypermorph.py` are template code for custom evaluation. I am currently working on a few scripts for generically testing the hypermorph models

[2022-05-07 14:23] turnnext opened #424 "about npz"
Is there one nii or many nii files in the NPZ file？

[2022-05-08 02:11] adalca commented on #424
can you provide more information? which npz file?

[2022-05-08 02:37] ha5750 commented on #424
For unsupervised registration, npz files are optional as the voxelmorph can handle other file formats as nii, nii.gz, etc. For semi-supervised, for each pair of volume and corresponding segmentation file,  you want to save them as a single npz file with two headers vol and seg. For better understanding, you might wanna take a look at the source code load_volfile() function in  /voxelmorph/py/utils

[2022-05-08 06:16] turnnext commented on #424
Thank you，I understand.^^

[2022-05-10 03:32] #417 closed, assigned to ahoopes

[2022-05-10 12:58] EvanBeal opened #425 "Conversion of H5 model to PyTorch (SynthMorph)"
Hello !
I have been working with the SynthMorph method for the past few months and it has allowed me to get really accurate registration results. So thank you very much for providing this innovative approach to registration and for making the code available.

## **Task** (what are you trying to do/register?)

Now, I have some models that I have trained with the TensorFlow implementation of the met

[2022-05-12 00:35] YuliangXiaoYLX commented on #307
@CadyWang

Hi Cady, I have a quick question about your generator. I compared your generator to the original one, you add atlas as an input argument and to the generator, what's the difference between these two versions? will yours have some improvement when getting atlas? I am looking forward to your response, thanks!

Best,
Yuliang Xiao

[2022-05-12 01:02] YuliangXiaoYLX opened #426 "Run Out Of Memory on RTX 3090"
**Task** (what are you trying to do/register?)

I wanted to train my own dataset to do the scan-to-scan registration. (GPU: RTX 3090, 24GB memory)

**What have you tried**

I used ```voxelmorph/scripts/train.py``` to obtain the scan-to-scan deformation field model

**Details of experiments**

The CT scans I used are in high resolution which are 512x512x(# of slices). If I did not downsample the sc

[2022-05-12 01:08] adalca commented on #426
Can you describe in more detail your 256x256x128 runs?
- How did you normalize data? what loss did you use? how much data did you use to train? etc.

[2022-05-12 01:18] YuliangXiaoYLX commented on #426
@adalca Thanks for your response.
1. I checked the dimension of each image. As I observed, most of my data has number of slices less than 256 and others are same, which means the third value of its dimension is less than 256 and first two are same. So, if the third value of dimension is less than 256, I will pad it to 256, otherwise, I will crop it to 256.
2. I used ```Scipy.zoom.interpolation```

[2022-05-12 01:22] adalca commented on #426
you should probably take the mean and std after the clip, but otherwise that looks fine (ish).
What was the loss hyperparameter balancing loss and grad?

[2022-05-12 01:32] YuliangXiaoYLX commented on #426
I think I used default parameters of ```train.py``` file except changing the ```grad-loss-weight``` to 0.001

[2022-05-12 01:33] adalca commented on #426
ok, and what does it mean that the results are very bad?

[2022-05-12 01:35] adalca commented on #425
Thanks for letting us know. Tagging @mu40 on this as he will know more!

[2022-05-12 01:38] YuliangXiaoYLX commented on #426
![image](https://user-images.githubusercontent.com/70731556/167974578-aed388e8-512c-4532-afed-e39654df1c4e.png)
![image](https://user-images.githubusercontent.com/70731556/167974600-9c361ebf-26fa-4d29-8772-e208b7a8af17.png)
The moved image is the registered result, you can clearly see that there are many difference between fixed and moved images

[2022-05-12 01:42] YuliangXiaoYLX commented on #426
Btw here is a detailed info of the hyperparameter:

![Screen Shot 2022-05-11 at 21 41 51](https://user-images.githubusercontent.com/70731556/167975009-b25daa50-a284-4241-b6fd-1d75f70956f2.png)

[2022-05-12 01:49] adalca commented on #426
I see, some training curves might help. Is that a training subject?

[2022-05-12 01:50] YuliangXiaoYLX commented on #426
yes, do you have any suggestions to improve the result?

[2022-05-12 04:38] eleplantttt opened #427 "hypermorph demo"
I tryed to run the demo you offered in colab(https://surfer.nmr.mgh.harvard.edu/ftp/docs/hypermorph/)

![image](https://user-images.githubusercontent.com/76862982/167992043-0842ef03-abac-4331-93f4-ff4061035685.png)

but there is a problem, I want to know how to solve it. Is this bug  my mistake or the reason of  my colab setting?

![image](https://user-images.githubusercontent.com/76862982/1679917

[2022-05-12 05:59] swagatamr opened #428 "Issue in data-loading code"
I am trying to execute data-loading code but there is no voxelmorph/generators.py
Please provide the data loader code

[2022-05-12 10:19] mu40 commented on #425
This is great, we're glad to hear that SynthMorph is useful to you! You may not want to reverse the order of all dimensions of the kernel weights with `weights[i].T`, but instead try to only move the input/output dimensions with something like `torch.movedim(weights[i], (-1, -2), (0, 1))`.

[2022-05-12 11:49] EvanBeal commented on #425
Amazing ! It works perfectly. You are right the issue was to reverse the order of all dimensions of the kernel weights and by modifying this part with your suggestion, it allows to obtain models producing the same registration results.

Thank you very much @mu40  !

[2022-05-12 11:49] #425 closed, assigned to nobody

[2022-05-12 12:01] adalca commented on #428
I'm not sure what you mean, the file is right here: [voxelmorph/generators.py](https://github.com/voxelmorph/voxelmorph/blob/dev/voxelmorph/generators.py)

[2022-05-12 12:01] #428 closed, assigned to nobody

[2022-05-12 12:09] adalca commented on #426
can you please provide the training curves

[2022-05-12 14:01] codefwer commented on #412
i also meet the same problem, have you solved it?

[2022-05-13 01:34] adalca commented on #412
@codefwer did you try just pulling new versions of vxm, neurite and pystrum, and then set the python paths right?

[2022-05-13 01:34] #412 closed, assigned to nobody

[2022-05-13 02:32] YuliangXiaoYLX commented on #426
@adalca Here is the training curves
![image](https://user-images.githubusercontent.com/70731556/168199843-2814067a-3e65-4c44-aba6-d237420dfdf4.png)

[2022-05-13 04:13] codefwer opened #429 "pystrum, nibabel, neurite"
where are these three package  ,i dont exactly know that why the branch 'dev' dont have pystrum, nibabel, neurite files. so when i download the code zip to my local, and it will show no module named 'pystrum'

[2022-05-13 11:45] adalca commented on #429
They are all on pip.

If you'd like to download latest versions, you can get them from here:
nibabel from pip
neurite: https://github.com/adalca/neurite/
pystrum: https://github.com/adalca/pystrum/

[2022-05-13 11:45] #429 closed, assigned to nobody

[2022-05-13 12:18] adalca commented on #426
I would not say that that is converged, quite yet. I would
- run it much longer
- compute the MSE and grad on the image pair you showed me -- is loss around 0.02 as the graph shows? If not, you might be doing something wrong in your visualization

[2022-05-13 13:36] codefwer opened #430 "About the list.txt and generators.py"
![image](https://user-images.githubusercontent.com/79414489/168292856-eed8667b-684b-451c-808d-3d5c9fe7491b.png)
i am sorry that i really dont konw what the `list.txt` really is.  Is the moving image's path and fixed image's path in it? Can you give me a demo for the `list.txt` ,please

![image](https://user-images.githubusercontent.com/79414489/168293969-39b9a024-3920-4c15-b436-50e62ef87a5c.png)
i

[2022-05-13 13:48] adalca commented on #430
list.txt is a file of full paths to all your training images, one per line. @ahoopes could confirm.

[2022-05-13 13:52] codefwer commented on #430
the moving images' path and fixed images' path are all in one list.txt?

[2022-05-13 13:53] adalca commented on #430
Yes. you just have a list of N images, and at each iteration the loader randomly samples one to be 'moving' and another to be 'fixed'

[2022-05-13 14:01] codefwer commented on #430
why randomly samples one to be 'moving'  ,i really dont konw that.  Could it be that we use the konwn 'moving' image and 'fixed' image and the first one is really 'moving' image ,the second is the corresponding fixed image?

[2022-05-13 14:03] adalca commented on #430
it depends on what you are doing, but if you are trying to register images of different subjects, then randomly sampling images to be 'moving' and 'fixed' teaches the network to be able to register any image to any other image

[2022-05-13 14:06] codefwer commented on #430
thanks a lot ,i think i need some time to do some experiments, could you please don't close this issue now,?

[2022-05-13 20:37] ha5750 commented on #426
Hi, here's the updated result trained with lambda = 0.001.
<img width="1645" alt="image" src="https://user-images.githubusercontent.com/74314232/168384939-be653f25-1b38-4593-b9ba-a3dba6b5686d.png">
<img width="1604" alt="image" src="https://user-images.githubusercontent.com/74314232/168385068-8b333ce0-12d9-4ffb-acd6-927613741cec.png">

Question 1) As you can see, some small details become lost in

[2022-05-13 23:47] adalca commented on #426
Those results look pretty good to me, although you might want to increase the grad loss a bit. The goal isn't to get the images to perfectly match detail! People are different after al.

If you only have time to segment an anatomical ROI on one subject, Honestly any of those 3 methods will work roughly the same in my opinion. 1 and 2 might provide more regular results with fewer island-type errors

[2022-05-14 06:32] jackyko1991 opened #431 "Example to train synthmorph"
I find the synthmorph training script in [./scripts/tf/train_synthmorph.py](../blob/dev/scripts/tf/train_synthmorph.py)

From my understanding, synthmorph requires pre-training of contrast pattern model, then using transfer learning technique to adopt to medical image dataset.

Any instructions or examples will be given to generate the initial training data, scripts for transfer learning stage?

I

[2022-05-14 12:09] codeenthusiast commented on #426
Is there any way for us to improve the registration for the finer structures. As you can see the sinuses are definitely not warped as accurately and that is the level of detail we are concerned with. We are able to achieve quite good accuracy with ANTs when doing scan to scan registration but I'm curious as to if we can obtain similar results in VoxelMorph?

[2022-05-14 12:57] adalca commented on #431
@jackyko1991 no we don't do any pre-training or transfer learning. Please see a demo here: https://colab.research.google.com/drive/1n3ehxvrn33imAKGMlNga4IY14trP5_Um?usp=sharing

@mu40 can give more help

[2022-05-14 12:58] adalca commented on #426
You should be able to. Can you show the exact same slice and example with ANTs?

[2022-05-16 15:23] mu40 commented on #431
Yes, we do not. While we did not include CT in our evaluation either, I suspect that normalizing the intensities of your CT data may be helpful, or, alternatively, adapting the synthesis to include the intensity distribution of CT scans, e.g. by playing with the gamma augmentation. The demo is a good place to start.

[2022-05-16 19:08] joshuacwnewton commented on #228
I encountered a similar error, this time with PyTorch instead of TensorFlow.

Example snippet of my script:

[code]

Error:

[code]

In my case, the problem is that:

* My model loading script relied on newer VoxelMorph features (`unet_half_res`) introduced in a Feb 1, 2021 commit (https://github.com/voxelmorph/voxelmorph/commit/579a995492bddfe9ce38161e58cf260fc155c4fd).
* However, I installed Vox

[2022-05-17 20:56] kousu opened #432 "Update PyPI Release"
Hi there! @evanbeal has built a feature on your groundbreaking work for our [spinalcordtoolbox](https://github.com/spinalcordtoolbox/spinalcordtoolbox). We'd like to publish it as part of spinalcordtoolbox so our users can get better, but we've hit a [stumbling](https://github.com/voxelmorph/voxelmorph/issues/228#issuecomment-1128034462) [block](https://github.com/spinalcordtoolbox/spinalcordtoolb

[2022-05-17 21:25] keshavak commented on #421
Thanks for the suggestions.
model.inputs
[<tf.Tensor 'pheno_input_2:0' shape=(None, 9) dtype=float32>, <tf.Tensor 'atlas_input_2:0' shape=(None, 416, 128, 1) dtype=float32>, <tf.Tensor 'source_input_2:0' shape=(None, 416, 128, 1) dtype=float32>]
model.outputs
[<tf.Tensor 'vxm_dense_transformer_2/map/TensorArrayV2Stack/TensorListStack:0' shape=(None, 416, 128, 1) dtype=float32>, <tf.Tensor 'mean_st

[2022-05-18 09:57] EvanBeal opened #434 "Resource usage differences between PyTorch and TF VxmDense models"
Hello !

I have been working with the TensorFlow registration models (VxmDense architecture) for the past few months and I recently converted them to PyTorch for my work purposes.

The registration results using the TF or PyTorch model are the same, however I observed that more computational resources were required for registration when using a PyTorch model, on CPUs. This can be quite limiting fo

[2022-05-20 04:48] jackyko1991 commented on #431
I have completed the traning on synthmorph and checked with hypermorph. I am curious if the hypernetwork need to be combined with synthmorph for an automated hyperparameter tuning.

One question about hypermorph. During network prediction I need to provide the lambda value as input
[code]

Does this refers that we need to benchmark the registration accuracy independently but not direclty optimizin

[2022-05-20 16:51] joshuacwnewton commented on #434
To illustrate this point, @EvanBeal and I have created a reproducible example.

1. Download `cascaded-registration-example.zip` and `cascaded_models_pytorch.zip` from [this link](https://github.com/ivadomed/multimodal-registration/releases/tag/r20220512).
2. Extract `cascaded-registration-example.zip`.
3. Extract `cascaded_models_pytorch.zip` and copy the model files into the `model/` folder from

[2022-05-20 17:52] joshuacwnewton commented on #434
Also, when tracing the execution, I can get to this point:

https://github.com/voxelmorph/voxelmorph/blob/bcdd713bf0b84952535cea62fc95245b21bd8918/voxelmorph/torch/networks.py#L128

Trying to execute this step will produce the OOM error. In this case, `conv` and `x` are:

![Screenshot from 2022-05-20 13-16-23](https://user-images.githubusercontent.com/16181459/169579553-f5975834-20bc-448f-8294-47d

[2022-05-21 11:25] Joeycho opened #436 "Voxelmorph-diff(2019(for images and surfaces), 2018(Fast Probabilistic Diffeomorphic Registration) papers) Table 1"
Dear authors,

First of all, thanks for the work. I've started to read Voxelmorph-related papers and I'm excited about the project.

I am not sure whether I find the right place to report something about papers, but I hope it will reach to you somehow.

Caption for Table 1, Voxelmorph-dff description comes with
"while also having nearly zero **non-negative** Jacobian locations". For me, zero **non

[2022-05-21 23:43] bhenriquezsoto opened #437 "Using voxelmorph to registering 2D Skin-Images"
Hi there :)
First of all, thank you very much for providing the code to be able to use it.

I am having some problems trying to use the code provided by you. I would like to use it to register 2D skin images, which are in .tiff format, however, I don't know what would be the correct conversion format or if I would have to make any changes to the code.

In case the code is not available for use in

[2022-05-23 00:52] xiaogengen-007 commented on #419
l

[2022-05-23 02:20] adalca commented on #437
Hi @benja20029,
We work with MNIST images in the tutorial, which are 2D, so that may be a place to start and see how we use them? http://tutorial.voxelmorph.net

[2022-05-23 02:25] adalca commented on #436
Hi @Joeycho
Can you specify which paper PDF you're looking at?

In general, a jacobian determinant that is negative indicates a folding in deformations, which we don't want. Therefore we wish to have as few of these as possible.

[2022-05-23 03:24] jackyko1991 commented on #317
Work around:
[code]

[2022-05-23 18:28] #317 closed, assigned to ahoopes

[2022-05-23 18:51] Joeycho commented on #436
https://arxiv.org/abs/1903.03545 : Unsupervised Learning of Probabilistic Diffeomorphic Registration for Images and Surfaces(Table 1, page 7)
https://arxiv.org/abs/1805.04605 : Unsupervised Learning for Fast Probabilistic Diffeomorphic Registration (table 1, page 6)

Thanks for quick reply!
Yes, that's how I understood, there I tried to report this inconsistency. It might be still consistent if I

[2022-05-23 19:59] adalca commented on #436
Edit: oh, i think you're right! we probably meant nearly zero negative jacobian locations....

[2022-05-24 11:06] jackyko1991 opened #438 "Aligning warp field output to ANTs SyN registration"
# **Task** (what are you trying to do/register?)

Warp field from voxelmorph is in IJK coordinate instead of XYZ. This maybe ambiguous when performing image transform in other software like Slicer 3D/ITK.

Also the warp field is stored as 4D image instead of 3D vector image. SimpleITK only accepts vector pixels for displacement field transformation.

# **What have you tried**

I am much familiar w

[2022-05-24 15:29] Joeycho commented on #436
I see. @adalca Thanks for your clarification! :)

[2022-05-24 15:29] #436 closed, assigned to nobody

[2022-05-25 08:53] xiaogengen-007 commented on #419
Thank you both for the great comments!!!
I tested a few values for --image-noise (0.05, 0.2, and 1) and got something similar to Figure 12 in the paper. It seems sigma = 0.2 can give me the best-behaved curve for lambda.
![hypermorph_image_noise_sigma](https://user-images.githubusercontent.com/45641353/170214997-4ab36c80-1caf-4491-9391-a6f12753540b.png)
My further question is does this sigma value

[2022-05-25 08:55] xiaogengen-007 commented on #419
Thank you both for the great comments!!!
I tested a few values for --image-noise (0.05, 0.2, and 1) and got something similar to Figure 12 in the paper. It seems sigma = 0.2 can give me the best-behaved curve for lambda.
![hypermorph_image_noise_sigma](https://user-images.githubusercontent.com/45641353/170223076-b8a81286-f1bd-4398-8b89-a11329278900.png)
My further question is does this sigma value

[2022-05-26 06:59] gaucijean opened #439 "Synthmorph Affine Transform"
I am using synthmorph to align thermal videos of the human foot. I am getting very good results however, prior to registration using synthmorph I need to affinely align the thermal images. Now due to the nature of the thermal images which I have, the affine transformation pre-processing step is non-trivial and very difficult. I would like to automate the whole process including the affine transfor

[2022-05-27 16:59] ahoopes commented on #427
I'm getting the same error. Seems to be related to a h5py bug, and it probably came about once colab updated to python 3.7 internally. I'll look into fixing it

[2022-05-27 17:30] ahoopes commented on #427
I take it back - this was my bad! The error was related to model configuration changes from a bit ago. I just updated the colab to use explicit versions of the github code.

[2022-05-27 17:30] #427 closed, assigned to ahoopes

[2022-05-27 17:41] ahoopes commented on #419
In reality, sigma shouldn't really represent intrinsic 'image noise' across a dataset. It's actually the image noise *between* two images. It could be computed as mean square difference between images assuming a 'perfect' anatomical alignment.

So, this value would likely exceed the intrinsic image noise because it's the compounded noise between two images and inherently non-alignable regions woul

[2022-05-31 17:04] joshuacwnewton commented on #434
To debug this issue, I started out by switching to a smaller versions of the input images. That way, I could run inference using the [PyTorch Profiler](https://pytorch.org/tutorials/recipes/recipes/profiler_recipe.html) without the process being killed.

<details>
<summary>Generating the smaller input images</summary>

[code]
</details>

<details>
<summary>Profiling code</summary>

[code]

</detai

[2022-05-31 17:04] joshuacwnewton commented on #434
One thing I found was setting `inplace=True` for the `LeakyReLU` activation here:

https://github.com/voxelmorph/voxelmorph/blob/2a55d73e517507f0ca8ffc4dd91a7fcbc3cc9949/voxelmorph/torch/networks.py#L300

Since this [seems to be okay for inference](https://discuss.pytorch.org/t/whats-the-difference-between-nn-relu-and-nn-relu-inplace-true/948).

<details>
<summary> inplace=False vs inplace=True </